@charset 'utf-8';
@import 'scss'; // Dynamic font size (https://github.com/twbs/rfs)

@import 'settings';
// @import 'custom-mixins';
@import 'foundation';
// @import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// // @include foundation-flex-grid;
// @include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
// // @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// // @include foundation-progress-element;
// // @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// // @include foundation-flex-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;

// Resets 
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  color: $body-font-color;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
a {
  text-decoration:none;
  color:#494949;
}
a:hover,
a:focus {
  outline: none;
}
.text-center {
  text-align:center;
}
.responsive {
  max-width:100%;
}
.margin-top-0 {
  margin-top: 0;
}

.margin-top {
  margin-top: 1rem;
}
.margin-top-large {
  margin-top: 2rem !important;
}
.margin-top-xlarge {
  margin-top: 4rem;
}
.margin-top-huge,
.container.margin-top-huge {
  margin-top: 6rem;
  @include breakpoint(medium down) {
    margin-top: 2rem;
  }
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-bottom-large {
  margin-bottom: 2rem;
}
.margin-bottom-xlarge {
  margin-bottom: 4rem;
}
.margin-bottom-huge {
  margin-bottom: 6rem;
}
.button {
  cursor: pointer;
}

// Typography
h1.heading {
  width: 100%;
  padding: 1em 0;
  margin: 3em 0 2em;
  border-top: 1px solid $medium-gray;
  border-bottom: 1px solid $medium-gray;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.25em;
  color: $medium-gray;
  text-align:center;
}
.button {
  background: $body-font-color;
  padding: 1rem 3rem;
  color: white;
  font-weight: 400;
  pointer: cursor;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25em;
  display: inline-block;
  margin-top: 2rem;
}

//Avoid FOUC from Adobe typekit
.wf-loading {
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}

// Header
.header {
  background: $body-font-color;
  background-image: url(../img/gray_jean_dark.png);
}

#header-content {
  padding-top: 6rem;
  padding-bottom: 5rem;
}
#logo {
  background: $white;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  &:after {
    content:url(../img/brycekirk_logo.svg);
    position:absolute;
    left:50%;
    bottom:50%;
    margin-left:-33px;
    margin-bottom:-30px;
    width: 66px;
    -moz-transition: .15s ease-in all;
    -webkit-transition: .15s ease-in all;
    transition: .15s ease-in all; 
  }
  &:hover:after {
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
  }
}

.duo {
  width: 600px;
  border: 1px solid #ddd;
}

// Home 
.home {
  .main-intro {
    padding: 0;
    float: none;
    h1 {
      line-height: 1.05;
      @include font-size(3.2rem);
      margin-bottom: 0.35em;
    }
    p {
      @include font-size(1.7rem);
    }
    button {
      margin-top: 1rem;
    }
  }
  .container > .row {
    padding: 4rem 0 2rem;
    @include breakpoint(small down) {
      padding: 3rem 0 1rem;
    }
    h2 {
      margin-top: 0;
    }
  }
  p {
    font-size: 1.15em;
  }
  @include breakpoint(medium down) {
    video {
      padding-bottom: 1rem;
    }
  }
}

// Client-specific logo BG colors
#logo {
  &.archer-color {
    background-color: $archer;
  }
  &.barcamp-color {
    background-color: $barcamp;
  }
  &.broda-color {
    background-color: $broda;
  }
  &.clarity-color {
    background-color: $clarity;
  }
  &.faire-color {
    background-color: $faire;
  }
  &.freshliving-color {
    background-color: $freshliving;
  }
  &.hues-color {
    background-color: $hues;
  }
  &.ignite-color {
    background-color: $ignite;
  }
  &.siga-color {
    background-color: $siga;
  }
  &.thrive-color {
    background-color: $thrive;
  }
  &.vendasta-color {
    background-color: $vendasta;
  }
  &.verb-color {
    background-color: $verb;
  }
  &.m4l-color {
    background-color: $m4l;
  }
  &.charles-color {
    background-color: $charles;
  }
  &.willowpark-color {
    background-color: $willowpark;
  }
  &.blondie-color {
    background-color: $white;
  }
  &.aimco-color {
    background-color: $aimco;
  }
  &.syncrude-color {
    background-color: $syncrude-red;
  }
  &.afl-color {
    background-color: $afl;
  }
  &.karma-color {
    background-color: $karma;
  }
  &.subway-color {
    background-color: $subway;
  }
  &.aimco-2016-color {
    background-color: $aimco-2016;
  }
  &.karo-color {
    background-color: $karo;
  }
  &.anstice-color {
    background-color: $anstice;
  }
  &.sanderson-color {
    background-color: $sanderson;
  }
  &.gcp-color {
    background-color: $gcp;
  }
  &.logos-color {
    background-color: $logos;
  }
  &.arc-color {
    background-color: #98d4e6;
  }
  &.loveyourjob-color {
    background-color: $loveyourjob;
  }
  &.viveau-color {
    background-color: $viveau;
  }
  &.flaman-color {
    background-color: $flaman;
  }
  &.ads-color {
    background-color: $ads;
  }
  &.ackah-color {
    background-color: $ackah;
  }
  &.mckeil-color {
    background-color: $mckeil;
  }
  &.greenline-color {
    background-color: $greenline;
  }
  &.das-color {
    background-color: $das;
  }
  &.chart-color {
    background-color: $chart;
  }
  &.flemish-color {
    background-color: $flemish;
  }
  &.drivemode-color {
    background-color: $drivemode;
  }
  &.cn-color {
    background-color: $cn;
  }
  &.cbd-color {
    background-color: $cbd;
  }
  &.gremlin-color {
    background-color: $gremlin;
  }
  &.gl-color {
    background-color: $gl;
  }
  &.nourish-color {
    background-color: $nourish;
  }
  &.covid-color {
    background-color: $covid;
  }
  &.arithmix-color {
    background-color: $arithmix;
  }
  &.mda-color {
    background-color: $mda;
  }
  &.ganjika-color {
    background-color: $ganjika;
  }
  &.curious-color {
    background-color: $curious;
  }
  &.huumans-color {
    background-color: $huumans;
  }
  &.calm-color {
    background-color: $calm;
  }
  &.ptpa-color {
    background-color: $ptpa;
  }
  &.duolingo-color {
    background-color: $duolingo;
  }
  &.wealthstewards-color {
    background-color: $wealthstewards;
  }
  &.pde-color {
    background-color: $pde;
  }
  &.tatelyle-color {
    background-color: $tatelyle;
  }
  &.kind-color {
    background-color: $kind;
  }
  &.kyh-color {
    background-color: $kyh;
  }
  &.quota-color {
    background-color: $quota;
  }
  &.chs-color {
    background-color: $chs;
  }
  &.pupfluence-color {
    background-color: $pupfluence;
  }
  &.wellugwet-color {
    background-color: $wellugwet;
  }
}

#wordmark {
  width: 150px;
}
.container {
  max-width: 1120px;
  width:100%;
  margin:0 auto;
}
.row.full-width {
  max-width: 100%;
}

// Color by brand
//Archer
main.bc-archer .portfolio-text {
  border-left: 5px solid $archer;
}
//Barcamp
main.bc-barcamp .portfolio-text {
  border-left: 5px solid $barcamp;
}
//Broda
main.bc-broda .portfolio-text {
  border-left: 5px solid $broda;
}
//Clarity
main.bc-clarity .portfolio-text {
  border-left: 5px solid $clarity;
}
//Faire
main.bc-faire .portfolio-text {
  border-left: 5px solid $faire;
}
//Fresh Living
main.bc-freshliving .portfolio-text {
  border-left: 5px solid $freshliving;
}
//Hues
main.bc-hues .portfolio-text {
  border-left: 5px solid $hues;
}
//Ignite
main.bc-ignite .portfolio-text {
  border-left: 5px solid $ignite;
}
//SIGA
main.bc-siga .portfolio-text {
  border-left: 5px solid $siga;
}
//Thrive
main.bc-thrive .portfolio-text {
  border-left: 5px solid $thrive;
}
//Vendasta
main.bc-vendasta .portfolio-text {
  border-left: 5px solid $vendasta;
}
//Verb
main.bc-verb .portfolio-text {
  border-left: 5px solid $verb;
}
//M4L
main.bc-m4l .portfolio-text {
  border-left: 5px solid $m4l;
}
//Charles
main.bc-charles .portfolio-text {
  border-left: 5px solid $charles;
}
//Willow Park
main.bc-willowpark .portfolio-text {
  border-left: 5px solid $willowpark;
}
//Blondie
main.bc-blondie .portfolio-text {
  border-left: 5px solid $blondie;
}
//AFL
main.bc-afl .portfolio-text {
  border-left: 5px solid $afl;
}
//Karma
main.bc-karma .portfolio-text {
  border-left: 5px solid $karma;
}
main.bc-subway .portfolio-text {
  border-left: 5px solid $subway;
}
main.bc-aimco-2016 .portfolio-text {
  border-left: 5px solid $aimco-2016;
}
main.bc-karo .portfolio-text {
  border-left: 5px solid $karo;
}
// Anstice
main.bc-anstice .portfolio-text {
  border-left: 5px solid $anstice;
}
// Sanderson
main.bc-sanderson .portfolio-text {
  border-left: 5px solid $sanderson;
}
// Crowsnest
main.bc-gcp .portfolio-text {
  border-left: 5px solid $gcp;
}
// Logos
main.bc-logos .portfolio-text {
  border-left: 5px solid $logos;
}
main.bc-loveyourjob .portfolio-text {
  border-left: 5px solid $loveyourjob;
}
main.bc-viveau .portfolio-text {
  border-left: 5px solid $viveau;
}
main.bc-flaman .portfolio-text {
  border-left: 5px solid $flaman;
}
main.bc-ads .portfolio-text {
  border-left: 5px solid $ads;
}
main.bc-ackah .portfolio-text {
  border-left: 5px solid $ackah;
}
main.bc-mckeil .portfolio-text {
  border-left: 5px solid $mckeil;
}
main.bc-greenline .portfolio-text {
  border-left: 5px solid $greenline;
}
main.bc-das .portfolio-text {
  border-left: 5px solid $das;
}
main.bc-chart .portfolio-text {
  border-left: 5px solid $chart;
}
main.bc-flemish .portfolio-text {
  border-left: 5px solid $flemish;
}
main.bc-drivemode .portfolio-text {
  border-left: 5px solid $drivemode;
}
main.bc-cn .portfolio-text {
  border-left: 5px solid $cn;
}
main.bc-cbd .portfolio-text {
  border-left: 5px solid $cbd;
}
main.bc-gremlin .portfolio-text {
  border-left: 5px solid $gremlin;
}
main.bc-gl .portfolio-text {
  border-left: 5px solid $gl;
}
main.bc-nourish .portfolio-text {
  border-left: 5px solid $nourish;
}
main.bc-covid .portfolio-text {
  border-left: 5px solid $covid;
}
main.bc-arithmix .portfolio-text {
  border-left: 5px solid $arithmix;
}
main.bc-mda .portfolio-text {
  border-left: 5px solid $mda;
}
main.bc-ganjika .portfolio-text {
  border-left: 5px solid $ganjika;
}
main.bc-curious .portfolio-text {
  border-left: 5px solid $curious;
}
main.bc-huumans .portfolio-text {
  border-left: 5px solid $huumans;
}
main.bc-calm .portfolio-text {
  border-left: 5px solid $calm;
}
main.bc-ptpa .portfolio-text {
  border-left: 5px solid $ptpa;
}
main.bc-duolingo .portfolio-text {
  border-left: 5px solid $duolingo;
}
main.bc-wealthstewards .portfolio-text {
  border-left: 5px solid $wealthstewards;
}
main.bc-pde .portfolio-text {
  border-left: 5px solid $pde;
}
main.bc-tatelyle .portfolio-text {
  border-left: 5px solid $tatelyle;
}
main.bc-kind .portfolio-text {
  border-left: 5px solid $kind;
}
main.bc-kyh .portfolio-text {
  border-left: 5px solid $kyh;
}
main.bc-quota .portfolio-text {
  border-left: 5px solid $quota;
}
main.bc-chs .portfolio-text {
  border-left: 5px solid $chs;
}
main.bc-pupfluence .portfolio-text {
  border-left: 5px solid $pupfluence;
}
main.bc-wellugwet .portfolio-text {
  border-left: 5px solid $wellugwet;
}

// Navigation
#main-nav {
  margin-top:2.5rem;
  margin-bottom:1rem;
  a,
  button {
    color: $white;
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 5px 0;
    font-size: 0.75em;
    margin-right:25px;  
	}
  button {
    margin-right:0;
    cursor: pointer;
  }
}
#nav-hr {
  width:65%;
  border-bottom:1px solid #cccccc;
  margin:0 auto
}

// Featured Client
#featured-client {
  clear: both;
  margin-bottom: 8rem;
}

a .featured-client-bg {
  background-color: $dark-gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 25rem;
  position: relative;
  text-align: center;
  margin-bottom:2em;
  &#vendasta-featured {
    background-image: url(../img/vendasta/vendasta-featured.jpg);
  }
  &#freshliving-featured {
    background-image: url(../img/freshliving/freshliving-featured.jpg); 
  }
  &#m4l-featured {
    background-image: url(../img/m4l/m4l-featured.jpg); 
  }
  &#blondie-cover {
    background-image: url(../img/blondie/blondie-cover.jpg); 
  }
  &#aimco-cover {
    background-image: url(../img/aimco/aimco-cover.jpg); 
  }
  &#syncrude-cover {
    background-image: url(../img/syncrude/syncrude-cover.jpg); 
  }
  &#arc-cover {
    background-image: url(../img/arc/arc-cover.jpg); 
  }
  &#ackah-cover {
    background-image: url(../img/ackah/ackah-cover.jpg); 
  }
  &#mckeil-cover {
    background-image: url(../img/mckeil/mckeil-cover.jpg); 
  }
  &#milhouse-cover {
    background-image: url(../img/milhouse/milhouse-cover.jpg); 
  }
  &:before {
    background-color: $black;
    opacity:0;
    -moz-transition: .1s ease-in all;
    -webkit-transition: .1s ease-in all;
    transition: .1s ease-in all; 
  }
  &:hover:before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity:0.4;
  }
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h2 {
      color: $white;
      font-size: 1.75em;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    p {
      color: $white;
      margin-top: 0;
      font-style: italic;
    }
  }
}

// About 
#about {
  padding: 8rem 0 6rem; 
  h3 {
    margin-top: 0;
  }
  a {
    text-decoration: underline;
  }
  @include breakpoint(small down) {
    padding: 6rem 0 1rem;
    h3 {
      margin-top: 2rem;
    }
  }  
}

// Contact
#contact, #copyright {
  margin-bottom:0;
}
.left-align,
.right-align {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
#contact {
  background-image: url(../img/gray_jean.png);
  padding: 4rem 0;
  clear: both;
  .right-align {
    a {
      margin-right: 0.5em;
      img {
        width: 20px;
      }
      &:last-of-type {
        margin-right: 0;
      } 
    }
  }
}
@include breakpoint(small down) {
  .left-align,
  .right-align {
    text-align: center;
    width: 100%;
  }
  .left-align {
    margin-bottom: 2rem;
  }
  #contact .right-align a {
    margin-right: 2.5em;
  }
  #copyright {
    a {
      margin-right: 0;
    }
    .caret {
      display: none;
    }
  }
}

//Copyright
#copyright {
  background-image: url(../img/gray_jean_dark.png);  
  padding: 2rem 0;
  a,
  span {
    color: $white;
  }
  a {
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
  }
}
.caret {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 15px 8px;
  border-color: transparent transparent $white transparent;
}

.container {
  @include breakpoint(large down) {
    width: 95%;
    margin: 0 auto;
  }
  @include breakpoint(medium down) {
    width: 90%;
  }
  @include breakpoint(small down) {
    width: 85%;
  }
}

section {
  margin-bottom: 0;
}

// Folio select squares
// Breakpoints
.portfolio-select {
  width: 21%;
  margin-right: 5.3333%;
  float: left;
  text-align: center;
  margin-bottom: 4.5%;
  .client-logo {
    -moz-transition: .1s ease-in all;
    -webkit-transition: .1s ease-in all;
    transition: .1s ease-in all; 
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    height: 325px;
    margin-bottom: 1em;
    position: relative;
    @include breakpoint(medium) {
      height: 250px;
    }
    img {
      width: 110%;
      left: -5%;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      max-width: 10000px;
    }
    &:hover,
    &:focus {
      -moz-transform:scale(1.03);
      -webkit-transform:scale(1.03);
      transform:scale(1.03);
    }
    &:active {
      -moz-transform:scale(1.02);
      -webkit-transform:scale(1.02);
      transform:scale(1.02);
    }
  }
  .info {
    opacity: 0.5;
    font-weight: 400;
    span {
      opacity: 0.5;
      display: block;
      font-size: 0.75em;
      font-style: italic;
    }
  }
  @include breakpoint(large down) {
    width: 31%;
    margin-right: 3.5%;
    margin-bottom:6.5%;
  }
  @include breakpoint(medium down) {
    width: 48%;
    margin-right: 4%;
    margin-bottom:9.5%;
    .portfolio-text {
      width: 100%;
    }
    #portfolio-2span img {
      width:100%;
      max-width:500px;
    } 
  }
  @include breakpoint(small down) {
    width: 100%;
    margin-right:0;
    margin-bottom:15.5%;
  }
  &:nth-of-type(4n) {
    margin-right:0; 
    @include breakpoint(large down) {
      margin-right: 3.5%;
    }
  }
  &:nth-of-type(3n) {
    @include breakpoint(large down) {
      margin-right: 0;
    }
    @include breakpoint(medium down) {
      margin-right: 4%;
    }
  }
  &:nth-of-type(2n) {
    @include breakpoint(medium down) {
      margin-right: 0;
    }
  }
  // &:last-of-type {
  //   margin-bottom: 8rem;
  // }
}

//Folio logo hover colors
.portfolio-select {
  &#siga {
    .client-logo:hover {
      background-color: $siga;
    }
  }  
	&#ignite {
		.client-logo:hover {
	    background-color: $ignite;
		}
	}
	&#hues {
		.client-logo:hover {
	    background-color: $hues;
		}
	}
	&#archer {
		.client-logo:hover {
	    background-color: $archer;
		}
	}
	&#thrive {
		.client-logo:hover {
	    background-color: $thrive;
		}
	}
	&#broda {
    .client-logo:hover {
      background-color: $broda;
    }
  }
	&#freshliving {
    .client-logo:hover {
      background-color: $freshliving;
    }
	}
	&#verb {
    .client-logo:hover {
	    background-color: $verb;
		}
	}
  &#clarity {
    .client-logo:hover {
      background-color: $clarity;
    }
  }
  &#vendasta {
    .client-logo:hover {
      background-color: $vendasta;
    }
  }
  &#barcamp {
    .client-logo:hover {
      background-color: $barcamp;
    }
  }
  &#faire {
    .client-logo:hover {
      background-color: $faire;
    }
  }
  &#music4life {
    .client-logo:hover {
      background-color: $m4l;
    }
  }
  &#charles {
    .client-logo:hover {
      background-color: $charles;
    }
  }
  &#willowpark {
    .client-logo:hover {
      background-color: $willowpark;
    }
  }
  &#afl {
    .client-logo:hover {
      background-color: $afl;
    }
  }
  &#karma {
    .client-logo:hover {
      background-color: $karma;
    }
  }
  &#subway {
    .client-logo:hover {
      background-color: $subway;
    }
  }
  &#aimco-2016 {
    .client-logo:hover {
      background-color: $aimco-2016;
    }
  }
  &#karo {
    .client-logo:hover {
      background-color: $karo;
    }
  }
  &#anstice {
    .client-logo:hover {
      background-color: $anstice;
    }
  }
  &#sanderson {
    .client-logo:hover {
      background-color: $sanderson;
    }
  }
  &#gcp {
    .client-logo:hover {
      background-color: $gcp;
    }
  }
  &#logos {
    .client-logo:hover {
      background-color: $logos;
    }
  }
  &#loveyourjob {
    .client-logo:hover {
      background-color: $loveyourjob;
    }
  }
  &#viveau {
    .client-logo:hover {
      background-color: $viveau;
    }
  }
  &#flaman {
    .client-logo:hover {
      background-color: $flaman;
    }
  }
  &#ads {
    .client-logo:hover {
      background-color: $ads;
    }
  }
  &#greenline {
    .client-logo:hover {
      background-color: $greenline;
    }
  }
  &#das {
    .client-logo:hover {
      background-color: $das;
    }
  }
  &#chart {
    .client-logo:hover {
      background-color: $chart;
    }
  }
  &#flemish {
    .client-logo:hover {
      background-color: $flemish;
    }
  }
  &#drivemode {
    .client-logo:hover {
      background-color: $drivemode;
    }
  }
  &#cn {
    .client-logo:hover {
      background-color: $cn;
    }
  }
  &#cbd {
    .client-logo:hover {
      background-color: $cbd;
    }
  }
  &#gremlin {
    .client-logo:hover {
      background-color: $gremlin;
    }
  }
  &#gl {
    .client-logo:hover {
      background-color: $gl;
    }
  }
  &#nourish {
    .client-logo:hover {
      background-color: $nourish;
    }
  }
  &#covid {
    .client-logo:hover {
      background-color: $covid;
    }
  }
  &#arithmix {
    .client-logo:hover {
      background-color: $arithmix;
    }
  }
  &#mda {
    .client-logo:hover {
      background-color: $mda;
    }
  }
  &#ganjika {
    .client-logo:hover {
      background-color: $ganjika;
    }
  }
  &#curious {
    .client-logo:hover {
      background-color: $curious;
    }
  }
  &#huumans {
    .client-logo:hover {
      background-color: $huumans;
    }
  }
  &#calm {
    .client-logo:hover {
      background-color: $calm;
    }
  }
  &#ptpa {
    .client-logo:hover {
      background-color: $ptpa;
    }
  }
  &#duolingo {
    .client-logo:hover {
      background-color: $duolingo;
    }
  }
  &#wealthstewards {
    .client-logo:hover {
      background-color: $wealthstewards;
    }
  }
  &#pde {
    .client-logo:hover {
      background-color: $pde;
    }
  }
  &#tatelyle {
    .client-logo:hover {
      background-color: $tatelyle;
    }
  }
  &#kind {
    .client-logo:hover {
      background-color: $kind;
    }
  }
  &#kyh {
    .client-logo:hover {
      background-color: $kyh;
    }
  }
  &#quota {
    .client-logo:hover {
      background-color: $quota;
    }
  }
  &#chs {
    .client-logo:hover {
      background-color: $chs;
    }
  }
  &#pupfluence {
    .client-logo:hover {
      background-color: $pupfluence;
    }
  }
  &#wellugwet {
    .client-logo:hover {
      background-color: $wellugwet;
    }
  }
}

// Portfolio Display
.logo-bg {
  width:100%;
  height:400px;
  background-color: $light-gray;
  background-image: url(../img/gray_jean.png);
  position: relative;
  margin-bottom: 4em;
  &.margin-bottom-small {
    margin-bottom: 1.5em;
  }
  &.margin-bottom-0 {
    margin-bottom: 0;
  }
  @include breakpoint(medium) {
    height:500px;
  }
}
.logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @include breakpoint(small down) {
    width:200px;
  }
  &.large {
    max-width: 600px;
    @include breakpoint(medium down) {
      width: 400px;
    }
    @include breakpoint(small down) {
      width: 240px;
    }
  }
}
.portfolio-text-container .container {
  padding-top:4em;
}
.portfolio-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  padding-left: 1em;
  width: 40%;    
  margin-bottom: 4em;
  @include breakpoint(large down) {
    width: 60%;
  }
  @include breakpoint(medium down) {
    width: 100%;
  }
  h1 {
    text-transform: uppercase;
	  font-weight: 400;
    margin-bottom: 0;
    font-size: 1.35em;
    .subtext {
      color: $medium-gray;
      font-size: 0.65em;
      text-transform: none;
    }
	}
  h2,
  p {
    font-size: 0.85em;
    a {
      font-style: italic;
    }
  }
	h2 {
    font-weight: 300;
    opacity:0.6;
    margin-top:0;
    font-style: italic;
    margin-bottom:0.5em;
	}
}
.bc-verb, .bc-barcamp {
  #portfolio-display {
    img {
      display: block;
      margin-bottom: 3em;
      margin-right: auto;
      margin-left: auto;
      &:last-of-type {
        margin-bottom:0;
      }
    }
  }
}
.caption {
  display: block;
  margin-top: -3rem;
  margin-bottom: 5rem;
  font-size: 0.75em;
  font-style: italic;
  @include breakpoint(medium down) {
    margin-top: -1rem;
  }
  &.caption-top {
    margin-top: 0;
    margin-bottom: 1em;
  }
}
// Color BGs
.logo-bg-thrive {
  background-color: $thrive;
  background-image: none;
}
.logo-bg-archer {
  background-color: $archer;
  background-image: none;
}
.logo-bg-faire {
  background-color: $faire;
  background-image: none;
}
.logo-bg-ignite {
  background-color: $ignite;
  background-image: none;
}
.logo-bg-hues {
  background-color: $hues;
  background-image: none;
}
.logo-bg-aimco {
  background-color: $aimco;
  background-image: none;
}
.logo-bg-syncrude {
  background-color: $syncrude-red;
  background-image: none;
}
.logo-bg-syncrude-green {
  background-color: $syncrude-green;
  background-image: none;
}
.logo-bg-syncrude-blue {
  background-color: $syncrude-blue;
  background-image: none;
}
.logo-bg-syncrude-purple {
  background-color: $syncrude-purple;
  background-image: none;
}
.logo-bg-dark {
  background-color:#2b2b2b;
  background-image:url(../img/gray_jean_dark.png);
}
.logo-bg-arc {
  background-color: $arc;
  background-image: none;
}
.logo-bg-ackah {
  background-color: $ackah;
  background-image: none;
}
.logo-bg-mckeil {
  background-color: $mckeil;
  background-image: none;
}
.logo-bg-milhouse {
  background-color: $milhouse;
  background-image: none;
}
//Contact Overlay
#overlay {
  z-index: -99;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $body-font-color;
  overflow-x: hidden;
  transition: 0.25s ease-in opacity;
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  h2, a {
    color: $white;
  }
  h2 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5em;
    a {
      font-size: 2.25em;
    }
  }
  .social a img {
    width: 2rem;
    margin: 0.5rem 0.5rem 0;
  }
  @include breakpoint(medium down) {
    h2 {
      font-size: 0.7em;
    }
  }
}

#overlay .icon-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(0,0,0,0.1);
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  cursor: pointer;
  &::before {
    width: 2rem;
    content: url(../img/close.svg);
  }
}

//Case Studies
//Typoraphy
.case-study {
  h2, h3, p.subhead {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 0;
  }
  h2 {
    font-size: 1.65em;
    position: relative;
    margin-bottom: 3.5rem;
    &:after {
      content: '';
      width: 6rem;
      border-bottom: 1px solid $body-font-color;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  h3 {
    font-size: 1.15em;
  }
  h4 {
    margin-bottom: 0.25em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
  }
  p.subhead {
    font-size: 1.15em;
    font-weight: 300;
    margin-bottom: 0;
  }
  span.role {
    display: block;
    opacity: 0.65;
    // font-style: italic;
    font-size: 0.75em;
    margin-top: 1rem;
    text-transform: uppercase;
  }
  p {
    font-size: 1em;
    line-height: 1.6;
  }
  li {
    margin-bottom: 0.5rem;
    list-style: none;
  }
  @include breakpoint(medium) {
    h2 {
      font-size: 2.45em;
    }
    h3 {
      font-size: 1.65em;
    }
    p.subhead {
      font-size: 1.65em;
    }
    p, h4, li {
      font-size: 1.15em;
    }
  }
}
//Section Breaks
#half-text {
  padding: 5rem 4rem;
  background: white;
  @include breakpoint(medium) {
    padding: 8rem 4rem;
    p {
      margin: 0;
      width: 100%;
      max-width: 30rem;
    }
  }
}
.half-img {
  background-color: $body-font-color;
  background-size: cover;
  position: relative;
  .caption, a {
    color: $white;
  }
  .caption {
    font-size: 0.85em;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
  }
}
.caption.intro {
  a {
    color: $white;
  }
  position: absolute;
  color: $white;
  font-size: 0.85em;
  top: -1.5rem;
  left: 0.5rem;
}
.caption.video {
  transform: translateY(-2rem);
}
#blondie-half-img {
  background-image: url(../img/blondie/blondie-shoes.jpg);
  background-position: -10rem center;
}
#aimco-half-img {
  background-image: url(../img/aimco/aimco-mountain.jpg);
  background-position: -10rem center;
}
#ackah-half-img {
  background-image: url(../img/ackah/calgary.jpg);
  background-position: -10rem center;
}
#photography {
  margin-top: 8rem;
  @include breakpoint(medium) {
    margin-top: 12rem;
  }
}
.light {
  background-color: #efefef;
}
.case-study {
  .section-break {
    padding: 5rem 0;
    position: relative;
    .logo-center {
      max-width: 400px;
    }
    p, ul {
      max-width: 100%;
      margin: 0 auto;
    }
    ul {
      padding: 0;
    }
    &.light {
      background-color: #efefef;
    }
    &.dark {
      background-color: $body-font-color;
      color: $white;
      a {
        color: $white;
      }
    }
    &.no-padding {
      padding: 0;
      .logo-bg {
        margin-bottom: 0;
      }
    }
    .caption {
      font-size: 0.75em;
    }
    @include breakpoint(medium) {
      padding: 8rem 0;
      p, ul {
        max-width: 55%;
      }
      .caption {
        font-size: 0.85em;
      }
    }
    .team span {
      font-weight: 400;
    }
  }
}
//The Solution
.section-break.solution {
  p {
    max-width: 100%;
  }
  .caption {
    margin-top: 1rem;
  }
  h3 + h4 {
    margin-top: 2rem;
  }
  img {
    display: block;
    margin: 0 auto 4rem;
  }
  img.img450 {
    width: 100%;
    max-width: 450px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  img.img100p {
    max-width: 100%;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  img.img500 {
    max-width: 100%;
    &.max500 {
      max-width: 500px;
    }
  }
  img.img700 {
    width: 100%;
    max-width: 700px;
    // &:last-of-type {
    //   margin-bottom: 0;
    // }
  }
  img.site-mock {
    margin-bottom: 0;
  }
  #photography img {
    margin: 0;
  }
  @include breakpoint(medium) {
    img.products,
    img.typography {
      margin-bottom: 8rem;
    }
    p {
      max-width: 50%;
    }
    h3 + h4 {
      margin-top: 4rem;
    }
  }
  .keyline {
    padding-bottom: 8rem;
    margin-bottom: 6rem;
    position: relative;
    &:after {
      content: '';
      width: 6rem;
      border-bottom: 1px solid $white;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
    &.white:after {
      border-bottom: 1px solid $white;
    }
    &.dark:after {
      border-bottom: 1px solid $body-font-color;
    }
  }
  @include breakpoint(medium) {
    padding: 8rem 0;
    p {
      width: 60%;
    }
  }
}
blockquote {
  margin: 0;
}
#syncrude-icons-left {
  margin-bottom: 1.5rem;
}
@include breakpoint(medium up) {
  #syncrude-icons-left {
    padding-right: 0.85em;
    margin-bottom: 4rem;
  }
  #syncrude-icons-right {
    padding-left: 0.85em;
  }
}

.section-break.quote {
  padding: 4rem 0;
  img {
    border-radius: 50%;
    margin-bottom: 1rem;
    @include breakpoint(medium up) {
      margin-bottom: 0;
    }
    @include breakpoint(small down) {
      max-width: 200px;
    }
  }
  p {
    width: 100%;
    max-width: 100%;
    &:first-of-type {
      font-style: italic;
    }
    &:last-of-type {
      font-weight: 400;
      margin-top: 1rem;
    }
  }
}
.mobileVideoFix,
.section-break.solution .mobileVideoFix {
  display: none;
}

.row.column.clients-partners {
  margin-top: 4rem;
  background-color: $body-font-color;
  padding: 2rem !important;
  text-align: center;
  h1 {
    color: $white;
    text-transform: uppercase;
    font-size: 1.25em;
    color: #ccc;
    margin-bottom: 0;
  }
  img {
    opacity: 0.75;
    display: inline-block;
    vertical-align: middle;
    max-width: 180px;
    max-height: 60px;
    margin: 1.5rem;
  }
}
.ads iframe {
  display: inline-block;
  vertical-align: bottom;
  margin: 1rem 1rem 0 0;
  &:last-of-type {
    margin-right: 0;
  }
}