---
title: Home
description: "Bryce Kirk is a Calgary-based website designer and developer that creates ground-up, custom builds. His approach ensures you get exactly what you need out of your new website"
body-class: home
---


{{> header}}

<main class="main">
	<div class="container">
		<div class="row">
			<div class="small-12 large-8 xlarge-6 columns main-intro">
				<h1>My name is Bryce Kirk. I design and develop flexible, modern websites from the ground up.</h1>
				<p>I like my work to speak for itself. Have a look, and when you're ready, shoot me an email and we'll get started.</p>
				<button class="button contactButton">Get in Touch</button>
			</div>
		</div>
	</div>
	{{>  portfolio-nav}}
</main>