<section id="contact">
	<div class="container">
		<div class="left-align">
			<strong>For inquiries, please contact:</strong> <a href="mailto:info@brycekirk.com">info@brycekirk.com</a>
		</div><!--
		--><div class="right-align">
			<a href="https://www.instagram.com/aflatlineblur/"><img loading="lazy" src="{{root}}assets/img/instagram.svg" alt="Instagram"></a>
			<a href="https://www.linkedin.com/in/brycekirk"><img loading="lazy" src="{{root}}assets/img/linkedin.svg" alt="Linked In"></a>
		</div>
	</div>
</section>
<section id="copyright">
	<div class="container">
		<div class="left-align">
			<span>&copy; Bryce Kirk 2017</span>
		</div><!--
		--><div class="right-align">
			<a data-scroll href="#header">Back to top </a>
			<a data-scroll href="#header"><span class="caret"></span></a>
		</div>
	</div>	
</section>