<div class="row expanded text-center" id="overlay">
  <button class="icon icon-close contactButtonClose" aria-label="Close contact overlay"></button>
  <div class="content">
    <h2>For inquiries, please contact<br/><a href="mailto:info@brycekirk.com" rel="noopener noreferrer">info@brycekirk.com</a></h2>
    <div class="social">
      <a href="https://www.linkedin.com/in/brycekirk" target="_blank" ><img loading="lazy" src="{{root}}assets/img/linkedin.svg" alt="Linked In" role="img"></a>
      <a href="https://medium.com/@AFlatlineBlur/" target="_blank" ><img loading="lazy" src="{{root}}assets/img/medium.svg" alt="Medium" role="img"></a>
    </div>
  </div>
</div>

<header class="header" id="header">
  <div class="container text-center" id="header-content">
    <a href="https://brycekirk.com" id="logo" class="{{logo-color}}" title="Go to homepage"></a>
    <br />
    <a href="https://brycekirk.com" title="Go to homepage">
      <img loading="lazy" src="{{root}}assets/img/bryce_kirk-design_development.svg" id="wordmark" alt="Bryce Kirk logo (go to homepage)" />
    </a>
    <nav id="main-nav" class="cl-effect-11">
      <a href="https://brycekirk.com#portfolio-section">WORK</a>
      <a href="{{root}}portfolio/about.html">ABOUT</a>
      <button class="contactButton">CONTACT</button>
    </nav>
  </div>
</header>

