<section id="portfolio-section">
  <div class="container">
    <h1 class="heading">Work</h1>
    <div class="portfolio-select" id="calm">
      <div class="client-logo">
        <a title="Calm Business" href="{{root}}portfolio/calm-business.html">
          <img loading="lazy" src="{{root}}assets/img/calm/calm-logo.svg" alt="Calm Business logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/calm-business.html" class="info" >CALM BUSINESS<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="kyh">
      <div class="client-logo">
        <a title="Know Your Hose" href="{{root}}portfolio/know-your-hose.html">
          <img loading="lazy" src="{{root}}assets/img/kyh/kyh-logo.png" alt="Know Your Hose logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/know-your-hose.html" class="info" >KNOW YOUR HOSE<span>branding, design, development</span></a>
    </div>
    <div class="portfolio-select" id="pupfluence">
      <div class="client-logo">
        <a title="PUPfluence" href="{{root}}portfolio/pupfluence.html">
          <img loading="lazy" src="{{root}}assets/img/pupfluence/pupfluence-logo.svg" alt="PUPfluence logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/pupfluence.html" class="info" >PUPFLUENCE<span>shopify design, development</span></a>
    </div>
    <div class="portfolio-select" id="mda">
      <div class="client-logo">
        <a title="MDA" href="{{root}}portfolio/mda.html">
          <img loading="lazy" src="{{root}}assets/img/mda/mda-logo.svg" alt="MDA logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/mda.html" class="info" >MDA AR 2021<span>website design, development</span></a>
    </div>
    <div class="portfolio-select" id="duolingo">
      <div class="client-logo">
        <a title="Duolingo" href="{{root}}portfolio/duolingo-emails.html">
          <img loading="lazy" src="{{root}}assets/img/duolingo/duolingo-logo.svg" alt="Duolingo logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/duolingo-emails.html" class="info" >DUOLINGO<span>email development</span></a>
    </div>
    <div class="portfolio-select" id="wellugwet">
      <div class="client-logo">
        <a title="Wellugwet" href="{{root}}portfolio/wellugwet.html">
          <img loading="lazy" src="{{root}}assets/img/wellugwet/wellugwet-logo.svg" alt="Wellugwet logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/wellugwet.html" class="info" >WELLUGWET<span>branding, design, development</span></a>
    </div>
    <div class="portfolio-select" id="kind">
      <div class="client-logo">
        <a title="Kind Neighbour" href="{{root}}portfolio/kind-neighbour.html">
          <img loading="lazy" src="{{root}}assets/img/kind/kind-neighbour-logo.svg" alt="Kind Neighbour logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/kind-neighbour.html" class="info" >KIND NEIGHBOUR<span>website design, development</span></a>
    </div>
    <div class="portfolio-select" id="quota">
      <div class="client-logo">
        <a title="Quota" href="{{root}}portfolio/quota.html">
          <img loading="lazy" src="{{root}}assets/img/quota/quota-logo.svg" alt="Quota logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/quota.html" class="info" >QUOTA<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="huumans">
      <div class="client-logo">
        <a title="Huumans" href="{{root}}portfolio/huumans.html">
          <img loading="lazy" src="{{root}}assets/img/huumans/huumans-logo.svg" alt="Huumans logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/huumans.html" class="info" >HUUMANS<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="pde">
      <div class="client-logo">
        <a title="Private Debt and Equity" href="{{root}}portfolio/private-debt-equity.html">
          <img loading="lazy" src="{{root}}assets/img/pde/pde-logo.svg" alt="Private Debt and Equity logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/private-debt-equity.html" class="info" >PRIVATE DEBT &amp; EQUITY<span>branding, website design, development</span></a>
    </div>
    <div class="portfolio-select" id="wealthstewards">
      <div class="client-logo">
        <a title="Wealth Stewards" href="{{root}}portfolio/wealth-stewards.html">
          <img loading="lazy" src="{{root}}assets/img/wealthstewards/wealth-stewards-logo.svg" alt="Wealth Stewards logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/wealth-stewards.html" class="info" >WEALTH STEWARDS<span>website design, development</span></a>
    </div>
    <div class="portfolio-select" id="curious">
      <div class="client-logo">
        <a title="Curious Comedy" href="{{root}}portfolio/curious-comedy.html">
          <img loading="lazy" src="{{root}}assets/img/curious/curious-logo.svg" alt="Curious Comedy logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/curious-comedy.html" class="info">CURIOUS COMEDY<span>website design, development</span></a>
    </div>
    <div class="portfolio-select" id="ptpa">
      <div class="client-logo">
        <a title="PTPA" href="{{root}}portfolio/ptpa.html">
          <img loading="lazy" src="{{root}}assets/img/ptpa/ptpa-logo.svg" alt="PTPA logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/ptpa.html" class="info" >PTPA<span>website design, development</span></a>
    </div>
    <div class="portfolio-select" id="tatelyle" >
      <div class="client-logo">
        <a title="Tate & Lyle" href="{{root}}portfolio/tate-and-lyle.html">
          <img loading="lazy" src="{{root}}assets/img/tatelyle/tatelyle-logo.svg" alt="Arithmix logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/tate-and-lyle.html" class="info" >TATE & LYLE<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="arithmix" >
      <div class="client-logo">
        <a title="Arithmix" href="{{root}}portfolio/arithmix.html">
          <img loading="lazy" src="{{root}}assets/img/arithmix/arithmix-logo.svg" alt="Arithmix logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/arithmix.html" class="info" >ARITHMIX<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="cbd" >
      <div class="client-logo">
        <a title="CBDNerds" href="{{root}}portfolio/cbd-nerds.html">
          <img loading="lazy" src="{{root}}assets/img/cbd/CBD_Nerds-Logo.svg" alt="CBDNerds logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/cbd-nerds.html" class="info" >CBDNERDS<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="chs">
      <div class="client-logo">
        <a title="Canadian Health Solutions" href="{{root}}portfolio/canadian-health-solutions.html">
          <img loading="lazy" src="{{root}}assets/img/chs/chs-logo.png" alt="Canadian Health Solutions logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/canadian-health-solutions.html" class="info" >CANADIAN HEALTH SOLUTIONS<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="covid">
      <div class="client-logo">
        <a title="COVID Collaborative" href="{{root}}portfolio/covid-collaborative.html">
          <img loading="lazy" src="{{root}}assets/img/covid/covid-logo.svg" alt="COVID Collaborative logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/covid-collaborative.html" class="info">COVID COLLABORATIVE<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="cn">
      <div class="client-logo">
        <a title="CN" href="{{root}}portfolio/connected-continent.html">
          <img loading="lazy" src="{{root}}assets/img/cn/cn-logo.svg" alt="CN logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/connected-continent.html" class="info">CN: CONNECTED CONTINENT<span>website design, development</span></a>
    </div>
    <div class="portfolio-select" id="ganjika" >
      <div class="client-logo">
        <a title="Ganjika House" href="{{root}}portfolio/ganjika-house.html">
          <img loading="lazy" src="{{root}}assets/img/ganjika/ganjika-house-logo.svg" alt="Ganjika House logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/ganjika-house.html" class="info" >GANJIKA HOUSE<span>website design, development</span></a>
    </div>
    <div class="portfolio-select" id="flemish">
      <div class="client-logo">
        <a title="Flemish Eye" href="{{root}}portfolio/flemish-eye.html">
          <img loading="lazy" src="{{root}}assets/img/flemish/eye.svg" alt="Flemish Eye logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/flemish-eye.html" class="info">FLEMISH EYE<span>ecommerce development</span></a>
    </div>
    <div class="portfolio-select" id="nourish" >
      <div class="client-logo">
        <a title="Nourish" href="{{root}}portfolio/nourish.html">
          <img loading="lazy" src="{{root}}assets/img/nourish/nourish-icon.svg" alt="Nourish logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/nourish.html" class="info" >NOURISH FOOD MARKETING<span>website development</span></a>
    </div>    
    <div class="portfolio-select" id="drivemode">
      <div class="client-logo">
        <a title="Drivemode" href="{{root}}portfolio/drivemode.html">
          <img loading="lazy" src="{{root}}assets/img/drivemode/drivemode-logo.svg" alt="Drivemode logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/drivemode.html" class="info">DRIVEMODE<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="gl">
      <div class="client-logo">
        <a title="GreenLearning" href="{{root}}portfolio/greenlearning.html">
          <img loading="lazy" src="{{root}}assets/img/greenlearning/greenlearning-logo.png" alt="GreenLearning logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/greenlearning.html" class="info">GREENLEARNING<span>website development</span></a>
    </div>
    <div class="portfolio-select" id="music4life" >
      <div class="client-logo">
        <a title="Music 4 Life" href="{{root}}portfolio/music4life.html">
          <img loading="lazy" src="{{root}}assets/img/m4l/m4l_logo_white.svg" alt="Music 4 Life logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/music4life.html" class="info">MUSIC 4 LIFE<span>website design, development</span></a>
    </div>
    <div class="portfolio-select" id="subway" >
      <div class="client-logo">
        <a title="Subway" href="{{root}}portfolio/subway.html">
          <img loading="lazy" src="{{root}}assets/img/subway-logo-portfolio.svg" alt="Subway logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/subway.html" class="info">SUBWAY DIGITAL DEALS<span>website app development</span></a>
    </div>
    <div class="portfolio-select" id="aimco-2016" >
      <div class="client-logo">
        <a title="AIMCO" href="{{root}}portfolio/aimco-2016.html">
          <img loading="lazy" src="{{root}}assets/img/aimco/aimco-logo-portfolio.svg" alt="AIMCO logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/aimco-2016.html" class="info">AIMCO AR 2016<span>website development</span></a>
    </div>
  
    <div class="portfolio-select" id="ads" >
      <div class="client-logo">
        <a title="HTML5 Ads" href="{{root}}portfolio/animated-html5-ads.html">
          <img loading="lazy" src="{{root}}assets/img/html5.svg" alt="HTML5 logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/animated-html5-ads.html" class="info" >Animated HTML5 Ads<span>animation</span></a>
    </div>
    <div class="portfolio-select" id="logos" >
      <div class="client-logo">
        <a title="Logos" href="{{root}}portfolio/logos.html">
          <img loading="lazy" src="{{root}}assets/img/thrive/thrive_logo.svg" alt="Thrive logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/logos.html" class="info" >LOGO DESIGN<span>logos and wordmarks</span></a>
    </div>
    <div class="portfolio-select" id="siga" >
      <div class="client-logo">
        <a title="SIGA" href="{{root}}portfolio/siga.html">
          <img loading="lazy" src="{{root}}assets/img/siga/siga_logo_white.svg" alt="SIGA logo" />
        </a>
      </div>
      <a href="{{root}}portfolio/siga.html" class="info" >SIGA<span>graphic design</span></a>
    </div>
  </div>
</section>

<section id="featured-client">
  <div class="container">
    <h1 class="heading">Case Studies</h1>
    <a href="{{root}}case-studies/milhouse-engineering-construction.html" >
      <div class="featured-client-bg" id="milhouse-cover">
        <div>
          <img loading="lazy" src="{{root}}assets/img/milhouse/milhouse-logo.svg" alt="Milhouse logo" style="width: 300px;"/>
        </div>
      </div>
    </a>
    <a href="{{root}}case-studies/mckeil-marine.html" >
      <div class="featured-client-bg" id="mckeil-cover">
        <div>
          <img loading="lazy" src="{{root}}assets/img/mckeil/mckeil-marine-white.svg" alt="McKeil Marine logo" style="width: 300px;"/>
        </div>
      </div>
    </a>
    <a href="{{root}}case-studies/blondie-boutique.html" >
      <div class="featured-client-bg" id="blondie-cover">
        <div>
          <img loading="lazy" src="{{root}}assets/img/blondie/blondie_logo_white.svg" alt="Blondie Boutique logo" style="width: 300px;"/>
        </div>
      </div>
    </a>
    <a href="{{root}}case-studies/aimco-annual-report-2015.html" >
      <div class="featured-client-bg" id="aimco-cover">
        <div>
          <img loading="lazy" src="{{root}}assets/img/aimco/aimco-logo-white.svg" alt="AIMCo logo" style="width: 200px;"/>
        </div>
      </div>
    </a>
    <a href="{{root}}case-studies/syncrude-csr-2015.html" >
      <div class="featured-client-bg" id="syncrude-cover">
        <div>
          <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-logo.svg" alt="Syncrude logo" style="width: 200px;"/>
        </div>
      </div>
    </a>
  </div>
</section>