<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:site_name" content="Bryce Kirk - Custom Website Design and Development">
    <meta property="og:image" content="{{root}}assets/img/fb.jpg" />
    <meta property="og:description" content="{{description}}" />
    <meta name="description" content="{{description}}" />
    <meta property="og:type" content="website">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2b2b2b">
    <meta name="msapplication-TileColor" content="#2b2b2b">
    <meta name="theme-color" content="#ffffff">

    <title>{{title}} | Bryce Kirk - Custom Website Design and Development</title>

    <script src="https://use.typekit.net/trm3aig.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-27423896-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="{{body-class}}">
    {{> body}}
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>