---
title: About Bryce
description: "Bryce Kirk is a Calgary-based website designer and developer that works globally. He creates ground-up, custom builds that ensure you get exactly what you need out of your new website."
---

{{> header}}

<main class="main">
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="small-12 large-10 large-centered columns">
					<div class="row">
						<div class="small-12 medium-6 columns">
							<img loading="lazy" src="{{root}}assets/img/brycekirk-headshot.jpg" alt="Bryce Kirk"/>
						</div>
						<div class="small-12 medium-6 columns">
							<div class="bio">
								<h3>My name is Bryce Kirk. I design and develop flexible, modern websites from the ground up.</h3>
								<p>
									The web changes, significantly and often. The only way to compete in this industry is to change with it. I've dedicated myself to finding the best solution for the project at hand. No shortcuts, no trend-hopping. Solid design and good clean code are always the best approach.
								</p>
								<p>
									My projects have been built with static HTML, Craft CMS, Wordpress, Zendesk, Squarespace, Shopify and more. I have an expert-level knowledge of HTML, CSS/SCSS and JS, as well as strong skills in PHP, Twig, and command line tools including Git, Node.js, Gulp, Webpack, Composer and more.
								</p>
								<p>
									<a class="contactButton" href="javascript:void(0)"><strong>Get in touch</strong></a>. Let's get started.
								</p>
								<p><em>Based in Calgary. Working globally.</em></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row column clients-partners">
				<h1>Clients &amp; Partners</h1>
				<img loading="lazy" src="{{root}}assets/img/cn.png" role="img" alt="CN" />
				<img loading="lazy" src="{{root}}assets/img/duolingo.png" role="img" alt="duolingo" />
				<img loading="lazy" src="{{root}}assets/img/calm.png" role="img" alt="Calm" />
				<img loading="lazy" src="{{root}}assets/img/subway-logo.svg" role="img" alt="Subway" />
				<img loading="lazy" src="{{root}}assets/img/mcdonalds.png" role="img" alt="McDonald's" />
				<img loading="lazy" src="{{root}}assets/img/ubc-logo.png" alt="University of British Columbia" />
				<img loading="lazy" src="{{root}}assets/img/rockefeller.png" alt="the Rockefeller Foundation" />
				<img loading="lazy" src="{{root}}assets/img/aimco/aimco-logo-white.svg" role="img" alt="AIMCo" />
				<img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-logo.svg" role="img" alt="Syncrude" />
				<img loading="lazy" src="{{root}}assets/img/candb.png" role="img" alt="C & B Advertising" />
				<img loading="lazy" src="{{root}}assets/img/redline-logo.png" alt="Redline Interactive" />
				<img loading="lazy" src="{{root}}assets/img/venture-logo.png" alt="Venture Communications" />
				<img loading="lazy" src="{{root}}assets/img/national-pr.png" alt="National PR" />
				<img loading="lazy" src="{{root}}assets/img/rain.png" alt="Rain" />
				<img loading="lazy" src="{{root}}assets/img/m4l/m4l_logo_white.svg" role="img" alt="Music 4 Life" style="max-height:none;height:100px" />
				<img loading="lazy" src="{{root}}assets/img/afl-logo.png" alt="Alberta Federation of Labour" />
				<img loading="lazy" src="{{root}}assets/img/arc/arc-logo-white.png" role="img" alt="ARC Resources" />
				<img loading="lazy" src="{{root}}assets/img/crowsnest.png" alt="Go Crowsnest Pass" />
			</div>
		</div>
	</section>

	{{>  portfolio-nav}}    
</main>	