---
title: Alberta Federation of Labour - Unstack the Deck
logo-color: afl-color
---

<main class="main bc-afl">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Unstack the Deck</h1>
                    <h2>website development</h2>
                    <p>
                        I was hired by Redline Interactive to develop a website for the Alberta Federation of Labour, encouraging Alberta to update its labour laws. Built using Foundation and JQuery. Art direction and design by <a href="https://www.studioadamwarner.com/" target="_blank" >Adam Warner</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <img loading="lazy" src="{{root}}assets/img/afl-site-mock.jpg" alt="Alberta Federation of Labour - Unstack the Deck" class="responsive"/>
        </div>
    </section>    
    
    {{> portfolio-nav}}
</main>
