---
title: AIMCO Annual Report 2016 - Annual Report Website Development
description: "I was hired by Karo to develop AIMCo's 2016 Annual Report. Built with Foundation and amCharts. Art direction and design by Adam Warner."
logo-color: aimco-2016-color
---

<main class="main bc-aimco-2016">    
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>AIMCo Annual Report 2016</h1>
          <h2>Website development</h2>
          <p>
            I was hired by Karo to develop AIMCo's 2016 Annual Report. Built with Foundation and amCharts. Art direction and design by <a href="https://www.studioadamwarner.com/" target="_blank" rel="noopener noreferrer">Adam Warner</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">
    <div class="text-center">
      <a href="http://www.aimco.alberta.ca/AIMCo_AR_2017/" target="_blank" rel="noopener noreferrer">
        <img loading="lazy" src="{{root}}assets/img/aimco/aimco-2016-site-mock.jpg" alt="AIMCo AR 2016" class="responsive"/>
      </a>
      <span class="caption">(click to go to website)</span>
    </div>
    </div>
  </section>    
  
  {{> portfolio-nav}}
</main>
