---
title: Animated HTML5 Ads
description: "I've worked with a variety of agency's over the last few years on animated HTML5 advertisements"
logo-color: ads-color
---

<main class="main bc-ads">    
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Animated HTML5 Ads</h1>
          <h2>Animation, asset prep and ad development</h2>
          <p>
            I've worked with a variety of agency's over the last few years on animated HTML5 advertisements. <strong>Make sure you disable your ad blocker. Refresh the page to restart ad animation.</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="container ads" id="portfolio-display">
      <iframe src="/assets/ads/mcdonalds-vertical/index.html" width="160" height="600" frameborder="0"></iframe>
      <iframe src="/assets/ads/mcdonalds-horizontal/index.html" width="728" height="90" frameborder="0"></iframe>
      <span class="caption" style="margin-top: 0.5rem;">Hired by <a href="https://www.scainteractive.com/" target="_blank" rel="noopener noreferrer">SCA Interactive</a>. Design by SCA Interactive.</span>
    </div>
    <div class="container ads" id="portfolio-display">
      <iframe src="/assets/ads/grandstand/index.html" width="300" height="600" frameborder="0"></iframe>
      <iframe src="/assets/ads/superpass/index.html" width="300" height="600" frameborder="0"></iframe><br />
      <iframe src="/assets/ads/lottery/index.html" width="300" height="250" frameborder="0"></iframe>
      <iframe src="/assets/ads/rider/index.html" width="300" height="250" frameborder="0"></iframe>
      <span class="caption" style="margin-top: 0.5rem;">Hired by <a href="https://candbadvertising.com/" target="_blank" rel="noopener noreferrer">C&amp;B Advertising</a>. Design by C&amp;B Advertising.</span>
    </div>
    <div class="container ads" id="portfolio-display">
      <iframe src="/assets/ads/anthony-a/index.html" width="300" height="600" frameborder="0"></iframe>
      <iframe src="/assets/ads/anthony-b/index.html" width="160" height="600" frameborder="0"></iframe>
      <span class="caption" style="margin-top: 0.5rem;">Hired by <a href="https://www.gotothewell.ca/" target="_blank" rel="noopener noreferrer">The Well</a> and <a href="https://upstreammarketing.ca/" target="_blank" rel="noopener noreferrer">Upstream Marketing</a>. Design by Upstream Marketing.</span>
    </div>
    <div class="container ads" id="portfolio-display">
      <iframe src="/assets/ads/yay/index.html" width="300" height="600" frameborder="0"></iframe>
      <iframe src="/assets/ads/propane/index.html" width="160" height="600" frameborder="0"></iframe>
      <iframe src="/assets/ads/oiltank/index.html" width="160" height="600" frameborder="0"></iframe>
      <span class="caption" style="margin-top: 0.5rem;">Hired by <a href="https://www.gotothewell.ca/" target="_blank" rel="noopener noreferrer">The Well</a> and <a href="https://upstreammarketing.ca/" target="_blank" rel="noopener noreferrer">Upstream Marketing</a>. Design by Upstream Marketing.</span>
    </div>
  </section>    
  
  {{> portfolio-nav}}
</main>
