---
title: Anstice Communications
logo-color: anstice-color
---

<main class="main bc-anstice">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Anstice Communications</h1>
                    <h2>website development</h2>
                    <p>
                        I was hired by Anstice Communications to develop their new website. Design by <a href="https://www.studioadamwarner.com/" target="_blank" >Adam Warner</a>. Developed with Craft CMS.
                    </p>
                </div>
            </div>
        </div>
        <div class="container text-center" id="portfolio-display">
            <a href="http://ansticecom.com/" target="_blank">
                <img loading="lazy" src="{{root}}assets/img/anstice/anstice-site-mock.jpg" alt="Anstice" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
    </section>    
    
    {{> portfolio-nav}}
</main>
