---
title: Archer Fruits
logo-color: archer-color
---

<main class="main bc-archer">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Archer Fruits</h1>
                        <h2>logo, wordmark, microsite</h2>
                        <p>
                            A fruit stand I owned and operated with a close friend during the summer months in Saskatoon, Saskatchewan.
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">

            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/archer/archer_logo_dark2.svg" alt="Archer logo" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/archer/archer_wordmark.svg" alt="Archer logo 2" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/archer/archer_logo.svg" alt="Archer logo 3" class="logo-center" />
            </div>
            
            <div class="text-center">
                <img loading="lazy" src="{{root}}assets/img/archer/archer-site-mock.jpg" alt="Archer website" class="responsive"/>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>