---
title: Arithmix - Hubspot Website Development
description: "I worked with Arithmix to build their new website. Built with Hubspot CMS, taking full advantage of their themes, CLI, and drag and drop editor."
logo-color: arithmix-color
---

<main class="main bc-arithmix">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Arithmix</h1>
          <h2>Hubspot website development</h2>
          <p>
            I worked with Arithmix to build their new website. Built with Hubspot CMS, taking full advantage of their themes, CLI, and drag and drop editor. 
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.arithmix.com/library" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/arithmix/arithmix-site-mock.jpg" alt="Arithmix website" class="responsive"/>
        </a>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>