---
title: Barcamp
logo-color: barcamp-color
---

<main class="main bc-barcamp">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Barcamp</h1>
                        <h2>event posters</h2>
                        <p>
                            Barcamp is an ad-hoc conference that pops up all over the world. Two distinct posters were needed for the 2012 event in Saskatoon: One to get them there, and one to welcome them.
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <div class="text-center">
                <img loading="lazy" src="{{root}}assets/img/barcamp/barcamp-come.jpg" alt="I Want You At Barcamp" class="responsive"/>
                <img loading="lazy" src="{{root}}assets/img/barcamp/barcamp-welcome.jpg" alt="Welcome to Barcamp" class="responsive" />
            </div>
        </div>
    </section>
    
    {{> portfolio-nav}}
</main> 