---
title: Broda
logo-color: broda-color
---

<main class="main bc-broda">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Broda Group</h1>
                    <h2>billboard series</h2>
                    <p>
                        Broda takes on some heavy duty projects all across western Canada. One of their biggest problems is finding local employees when a job takes them out of their neighborhood. This is one of a series of local hiring initiatives that went up on billboards, bus stands and more.
                    </p>
                </div>
            </div>
        </div>

        <div class="container" id="portfolio-display">
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/broda/move_the_earth.png" alt="thrive logo" class="logo-center" />
            </div>

            <div class="text-center">
                <img loading="lazy" src="{{root}}assets/img/broda/broda.jpg" alt="Broda Group billboard" class="responsive"/>
            </div>
        </div>
    </section>
    {{> portfolio-nav}}
</main>
