---
title: Calm Business - Custom Wordpress Development
description: "I work with Calm Business, via Toptal, to develop their new B2B website."
logo-color: calm-color
---

<main class="main bc-calm">    
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Calm Business</h1>
          <h2>Modular Wordpress website development</h2>
          <p>
            I work with Calm Business, via <a href="https://www.toptal.com/" rel="noopener noreferrer" target="_blank">Toptal</a>, as their web developer and general tech-y guy. Their new site was a team effort, with special mention to <a href="https://studioharding.com/" target="_blank" rel="noopener noreferrer">Jesse Harding</a> for his incredible design. I built this as a custom Wordpress theme, using Advanced Custom Fields to create Gutenberg blocks. This method gives non-techs a tightly constrained environment where they can build beautiful pages and see their changes live in the editor, without ever getting lost in page-builder hell.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <div class="text-center">
      <a href="https://business.calm.com/" target="_blank" rel="noopener noreferrer">
        <img loading="lazy" src="{{root}}assets/img/calm/calm-site-mockup.jpg" alt="Calm Business - Website mockups" class="responsive"/>
      </a>
      <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  <div class="section-break light solution quote margin-top-xlarge" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/calm/lyndi.jpeg" alt="Lyndi Thompson" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;Bryce is exceptional as a web developer, thought partner, and extension of our team. He’s demonstrated in every conversation and website project that he is committed to our mission of making the world a happier and healthier place. Bryce has an incredible ability to turn our long list of ideas into reality; from a complete redesign of our website, content management system, and content publishing workflows, Bryce is anchored in the principle of improving the experience for our customers and team members.<br><br>
            We saw drastic website performance improvements across mobile and desktop, setting all our digital programs up for higher conversions and more opportunities for our sales team. We appreciate Bryce’s technical expertise, his ability to be nimble and innovative, and his approach to working seamlessly with our internal teams.&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/lyndit/" target="_blank" rel="noopener noreferrer">Lyndi Thompson</a>, Demand Marketing Leader, Calm</p>
        </blockquote>
      </div>
    </div>
  </div>
  
  {{> portfolio-nav}}
</main>
