---
title: Canadian Health Solutions Health and WellBeing Clinics - Craft CMS Development
description: "I worked with Canadian Health Solutions to build a new website showcasing their Health and WellBeing Clinics"
logo-color: chs-color
---

<main class="main bc-chs">    
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Canadian Health Solutions</h1>
          <h2>Modular Craft CMS website development</h2>
          <p>
            I worked with Canadian Health Solutions, via <a rel="noopener noreferrer" href="https://gotothewell.ca/" target="_blank">The Well</a> and <a href="https://www.ccgoodwin.ca/en-ca/">CCGoodwin</a>, to build a new website showcasing their Health and WellBeing Clinics. Built with Craft CMS and a fully modular content builder.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <div class="text-center">
      <a href="https://chswellbeing.ca/" target="_blank" rel="noopener noreferrer">
        <img loading="lazy" src="{{root}}assets/img/chs/chs-site-mockup.jpg" alt="Canadian Health Solutions - Website mockups" class="responsive"/>
      </a>
      <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>
  
  {{> portfolio-nav}}
</main>
