---
title: CBDNerds - Modular Wordpress Website Development
description: "I worked with Resulta, via The Well, to develop a new website for CBDNerds. Multi-lingual site built with Wordpress, Timber and ACF."
logo-color: cbd-color
---

<main class="main bc-cbd">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>CBDNerds</h1>
          <h2>Modular Wordpress website development</h2>
          <p>
            I worked with <a href="https://www.resulta.com/" target="_blank" rel="noopener noreferrer">Resulta</a>, via <a rel="noopener noreferrer" href="https://gotothewell.ca/" target="_blank">The Well</a>, to develop a new website for CBDNerds. Multi-lingual site built with Wordpress, Timber and ACF.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://cbdnerds.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/cbd/cbd-site-mock.jpg" alt="CBDNerds website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>