---
title: Charles Real Estate
logo-color: charles-color
---

<main class="main bc-charles">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Charles Real Estate</h1>
                        <h2>custom wordpress build</h2>
                        <p>
                            Information and listings site for a Calgary real estate company. Design by <a href="http://adam-warner.com" target="_blank">Adam Warner</a>.
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <div class="text-center">
                <a href="http://www.charlesrealestate.ca/" target="_blank"><img loading="lazy" src="{{root}}assets/img/charles/charles-site-mock.jpg" alt="Charles website" class="responsive"/></a>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>