---
title: Chart the Future - Website Design and Craft CMS Development
description: "I was hired by Longview Communications to design and build a website for the committee to chart the future of Canadian corporate governance."
logo-color: chart-color
---

<main class="main bc-chart">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Chart the Future</h1>
          <h2>Website design and Craft CMS development</h2>
          <p>
            I was hired by <a href="https://longviewcomms.ca/" target="_blank" rel="noopener noreferrer">Longview Communications</a> to design and build a website for the committee to chart the future of Canadian corporate governance, a joint initiative of TMX Group and the Institute of Corporate Directors. Multi-lingual site built with Craft CMS.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://chartthefuture.ca/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/chart/chart-site-mock.jpg" alt="Chart the Future of Canadian Corporate Governance website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>