---
title: Clarity
logo-color: clarity-color
---

<main class="main bc-clarity">
    {{> header}}
    
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1> Clarity <span class="subtext">(unused branding)</span></h1>
                        <h2>logo, wordmark concepts</h2>
                        <p>	
                        	Branding explorations for a project that was eventually scrapped.
                    	</p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">

            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/clarity/clarity_1.svg" alt="clarity 1" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/clarity/clarity_3.svg" alt="clarity 3" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/clarity/clarity_5.svg" alt="clarity 5" class="logo-center" />
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>