---
title: CN Connected Continent - Website Design and Craft CMS Development
description: "I was hired by Longview Communications to design and build the website for CN's Connected Continent acquisition deal."
logo-color: cn-color
---

<main class="main bc-cn">
  {{> header}}
  <section></section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>CN: Connected Continent</h1>
          <h2>Website design, Craft CMS development</h2>
          <p>
            I was hired by <a href="https://longviewcomms.ca/" target="_blank" rel="noopener noreferrer">Longview Communications</a> to design and build the website for CN's Connected Continent acquisition deal. Multi-lingual site built with Craft CMS. Site is currently offline.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <img loading="lazy" src="{{root}}assets/img/cn/cn-site-mock.jpg" alt="CN: Connected Continent website" class="responsive"/>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>