---
title: COVID Collaborative - Craft CMS Website Development
description: "I worked with the Rockefeller Foundation, via Toptal, to develop a new website for COVID Collaborative, a collection of resources and data to help governments manage the pandemic."
logo-color: covid-color
---

<main class="main bc-covid">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>COVID Collaborative</h1>
          <h2>Craft CMS website development</h2>
          <p>
            I worked with <a href="https://www.rockefellerfoundation.org/" rel="noopener noreferrer" target="_blank">the Rockefeller Foundation</a>, via <a href="https://www.toptal.com/" rel="noopener noreferrer" target="_blank">Toptal</a>, to develop a new website for COVID Collaborative, a collection of resources and data to help governments manage the pandemic. Built with Craft CMS. Design by <a href="http://www.andyogden.com/" target="_blank" rel="noopener nofollow">Andy Ogden</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.covidcollaborative.us/" target="_blank" rel="noopener nofollow">
          <img loading="lazy" src="{{root}}assets/img/covid/covid-site-mock.jpg" alt="COVID Collaborfative website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  <div class="section-break light solution quote" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/covid/anjali.jpg" alt="Anjali Balakrishna" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;Since we first started collaborating over a year ago, we have LOVED working with Bryce!! Most recently, he rebuilt our entire website from scratch as we grew out of the Squarespace site he had built us. He worked with our designer to produce an elegant and beautiful site that works flawlessly and is so easy to navigate on the backend, even for non-technical team members. He works quickly and produces high quality work; he is responsive and helpful whenever an issue comes up. I could not be more grateful to have found Bryce and we highly recommend him to anyone looking for a skilled developer and top-notch collaborator!&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/anjalibalakrishna/" target="_blank">Anjali Balakrishna</a>, Program Director, COVID Collaborative</p>
        </blockquote>
      </div>
    </div>
  </div>

  {{> portfolio-nav}}
</main>