---
title: Crowsnest Pass
logo-color: gcp-color
---

<main class="main bc-gcp">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Crowsnest Pass</h1>
                        <h2>website development</h2>
                        <p>
                            I was hired by <a href="https://www.national.ca/en/" target="_blank">National PR</a> to re-build the Crowsnest Pass tourism website in alignment with their new content strategy. The project required custom Google Maps API development, integration with Mailchimp and Instagram, and support for adding customizable blog layouts and events. Built with Craft CMS.
                        </p>
                        <p>
                            The website won a <a href="https://enter.marcomawards.com/entry/municipality-of-crowsnest-pass/" target="_blank">Marcom award</a> in the digital media category.
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">            
            <div class="text-center">
                <img loading="lazy" src="{{root}}assets/img/gcp/gcp-site-mock.jpg" alt="Go Crowsnest Pass website" class="responsive"/>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>