---
title: Curious Comedy - Website Design and Craft CMS Development
description: "I worked with Portland's Curious Comedy to design and build their new website. Shows and classes are pulled from their event management API and populated as CMS entries, allowing for lightning-fast, cacheable page loads."
logo-color: curious-color
---

<main class="main bc-curious">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Curious Comedy</h1>
          <h2>Website design, Craft CMS development</h2>
          <p>
            I worked with Portland's Curious Comedy to design and build their new website. Shows and classes are pulled from their event management API and populated as CMS entries, allowing for lightning-fast, cacheable page loads. Designed in Figma, built with Craft CMS.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.curiouscomedy.org/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/curious/curious-site-mock.jpg" alt="Curious Comedy website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>