---
title: Drivemode - Craft CMS Website Development
description: "I worked with Drivemode, a Silicon Valley startup that was recently acquired by Honda, via Toptal, to develop their new website. Built with Craft CMS."
logo-color: drivemode-color
---

<main class="main bc-drivemode">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Drivemode</h1>
          <h2>Craft CMS website development</h2>
          <p>
            I worked with Drivemode, a Silicon Valley startup that was recently acquired by Honda, via <a href="https://www.toptal.com/" rel="noopener noreferrer" target="_blank">Toptal</a>, to develop their new website. Built with Craft CMS. 
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://drivemode.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/drivemode/drivemode-site-mock.jpg" alt="Drivemode website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>