---
title: Duolingo - Custom Email Development
description: "I work with Duolingo, via Toptal, on an ongoing basis to develop custom email notifications and newsletters for their users."
logo-color: duolingo-color
---

<main class="main bc-duolingo">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Duolingo</h1>
          <h2>Custom email development</h2>
          <p>
            I work with Duolingo, via <a href="https://www.toptal.com/" rel="noopener noreferrer" target="_blank">Toptal</a>, on an ongoing basis to develop custom email notifications and newsletters for their users. All emails are tested across 90+ clients, browsers and operating systems. Built with the ZURB email framework.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <div class="text-center">
        <img loading="lazy" src="{{root}}assets/img/duolingo/super-duo.jpg" alt="Duolingo Super email template" class="duo margin-bottom-large"/>
        <img loading="lazy" src="{{root}}assets/img/duolingo/on-a-roll.jpg" alt="Duolingo recap email template" class="duo margin-bottom-large"/>
        <img loading="lazy" src="{{root}}assets/img/duolingo/year-in-review.jpg" alt="Duolingo year in review email template" class="duo"/>
      </div>
    </div>
  </section>

  <div class="section-break light solution quote margin-top-xlarge" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/duolingo/maggie.jpeg" alt="Maggie Glascott" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;Bryce has been my go-to email developer for almost 2 years now. During that time he's coded dozens of emails for us based off of custom Figma files, often with complex elements like charts personalized to individual user data. He is dependable, communicative, and knowledgable about the nuances of mail clients and general HTML limitations.&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/maggie-glascott-47612731/" target="_blank" rel="noopener noreferrer">Maggie Glascott</a>, Former Senior Email Marketing Manager, Duolingo</p>
        </blockquote>
      </div>
    </div>
  </div>

  {{> portfolio-nav}}
</main>