---
title: Dynamic Air Shelters
logo-color: das-color
---

<main class="main bc-das">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Dynamic Air Shelters</h1>
                    <h2>website development</h2>
                    <p>
                        I worked alongside <a href="https://guerboiscreative.com/" target="_blank">Geurbois Creative</a>, <a href="https://www.studioadamwarner.com/" target="_blank">Adam Warner</a> and <a href="https://allisonrobins.com/" target="_blank">Allison Robins</a> to create Dynamic Air Shelter's new website. Built with Craft CMS.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">            
            <div class="text-center">
                <a href="https://www.dynamicairshelters.com/" target="_blank">
                    <img loading="lazy" src="{{root}}assets/img/das/das-site-mock.jpg" alt="Dynamic Air Shelters website" class="responsive"/>
                </a>
                <span class="caption">(click to go to website)</span>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>