---
title: Faire
logo-color: faire-color
---

<main class="main bc-faire">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Faire <span class="subtext">(unused branding)</h1>
                        <h2>logo, wordmark concepts</h2>
                        <p>	
                        	Branding explorations for Faire, a startup in the transportation industry.
                    	</p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">

            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/faire/faire_1.svg" alt="faire 1" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/faire/faire_2.svg" alt="faire 2" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/faire/faire_3.svg" alt="faire 3" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg logo-bg-faire">
                <img loading="lazy" src="{{root}}assets/img/faire/faire_5.svg" alt="faire 5" class="logo-center" />
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>