---
title: Flaman Fitness
logo-color: flaman-color
---

<main class="main bc-flaman">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Flaman Fitness</h1>
                    <h2>website design, development</h2>
                    <p>
                        I was hired by Flaman Fitness to plan, design and develop two of their subsidiary websites, Fitness Solutions and Fitness Warehouse. Built with Shopify.
                    </p>
                </div>
            </div>
        </div>
        <div class="container text-center" id="portfolio-display">
            <a href="https://www.fitnesssaskatoon.com/" target="_blank">
                <img loading="lazy" src="{{root}}assets/img/flaman/flaman-site-mock.jpg" alt="Flaman Fitness" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
    </section>
    
    {{> portfolio-nav}}
</main>
