---
title: Flemish Eye - Custom Shopify Development
description: "I worked with Flemish Eye, via Dream Door, to develop a new look for their E-Commerce website. Built with Shopify."
logo-color: flemish-color
---

<main class="main bc-flemish">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Flemish Eye</h1>
          <h2>Custom Shopify e-commerce development</h2>
          <p>
            I worked with Flemish Eye, via <a href="https://dreamdoor.ca/" target="_blank" rel="noopener noreferrer">Dream Door</a>, to develop a new look for their E-Commerce website. Built with Shopify. 
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://flemisheye.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/flemish/flemish-site-mock.jpg" alt="Flemish Eye website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>