---
title: Fresh Living
logo-color: freshliving-color
---

<main class="main bc-freshliving">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Fresh Living</h1>
                        <h2>website, print, logo refresh</h2>
                        <p>
                            Fresh Living is an innovative Saskatoon-based company focused on non-toxic cleaning and interior redesign. I've worked on many projects with them, from print to digital, always striving to match their clean, modern personality.
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/freshliving/freshliving_logo_refresh.svg" alt="Fresh Living Logo" class="logo-center"/>
            </div>
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/freshliving/freshliving_lounge.svg" alt="Fresh Living Lounge" class="logo-center"/>
            </div>
            <div class="text-center">
                <img loading="lazy" src="{{root}}assets/img/freshliving/freshliving-business-cards.jpg" 
                    alt="Fresh Living Business Cards" class="responsive" style="margin-bottom: 3em;"/>
                <img loading="lazy" src="{{root}}assets/img/freshliving/freshliving-banner.jpg" 
                    alt="Fresh Living banner" class="responsive" style="margin-bottom: 3em;"/>
                <img loading="lazy" src="{{root}}assets/img/freshliving/freshliving-recipe-cards.jpg" 
                    alt="Fresh Living banner" class="responsive" style="margin-bottom: 3em;"/>                       
                <a href="http://fresh-living.ca" target="_blank">
                    <img loading="lazy" src="{{root}}assets/img/freshliving/freshliving-site-mock.jpg" alt="Fresh Living Website" class="responsive"/>
                </a>
                <span class="caption">Website (customized Wordpress theme)</span>
            </div>
        </div>
    </section>
    
    {{> portfolio-nav}}
</main> 