---
title: Ganjika House - Website Design and Craft CMS Development
description: "I was hired by BestMedia to design and build a new website for Ganjika House. Designed in Figma, built with Craft CMS."
logo-color: ganjika-color
---

<main class="main bc-ganjika">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Ganjika House</h1>
          <h2>Website design, Craft CMS development</h2>
          <p>
            I was hired by <a href="https://thebestmedia.com/" target="_blank" rel="noopener noreferrer">BestMedia</a> to design and build a new website for Ganjika House. Designed in Figma, built with Craft CMS.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <img loading="lazy" src="{{root}}assets/img/ganjika/ganjika-site-mock.jpg" alt="Ganjika House website" class="responsive"/>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>