---
title: GreenLearning - Craft CMS Website Development
description: "I worked with GreenLearning, via The Well, to develop their new website. Built with Craft CMS."
logo-color: gl-color
---

<main class="main bc-gl">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>GreenLearning</h1>
          <h2>Craft CMS website development</h2>
          <p>
            I worked with GreenLearning, via <a href="https://gotothewell.ca/" target="_blank" rel="noopener noreferrer">The Well</a>, to develop their new website. Built with Craft CMS.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://greenlearning.ca/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/greenlearning/greenlearning-site-mock.jpg" alt="GreenLearning website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>