---
title: Rethink the Green Line
logo-color: greenline-color
---

<main class="main bc-greenline">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Rethink the Green Line</h1>
                    <h2>website design and development</h2>
                    <p>
                        I was hired by <a href="https://longviewcomms.ca/" target="_blank">Longview Communications</a> to design and build a website for the citizens group behind the <em>Rethink the Green Line</em> campaign. Built with Craft CMS. 
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">            
            <div class="text-center">
                <a href="http://greenline.brycekirk.com/" target="_blank">
                    <img loading="lazy" src="{{root}}assets/img/greenline/greenline-site-mock.jpg" alt="Rethink the Green Line website" class="responsive"/>
                </a>
                <span class="caption">(click to go to website)</span>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>