---
title: Gremlin Ventures
logo-color: gremlin-color
---

<main class="main bc-gremlin">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Gremlin Ventures</h1>
                    <h2>website development</h2>
                    <p>
                        I was hired by Gremlin Ventures to build websites for both their partner's brands and their own. Design by <a href="http://www.robboynes.com/" target="_blank" rel="noopener nofollow">Rob Boynes</a>. Built with Craft CMS. 
                    </p>
                    <h3 style="margin:0.5rem 0;"><a href="https://www.gremlin.ventures/" target="_blank" rel="noopener nofollow">Gremlin Ventures<a></h3>
                    <h3 style="margin:0.5rem 0;"><a href="https://www.tildale.com/" target="_blank" rel="noopener nofollow">Tildale<a></h3>
                    <h3 style="margin:0.5rem 0;"><a href="https://www.huumans.com/" target="_blank" rel="noopener nofollow">Huumans<a></h3>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">            
            <div class="text-center">
                <img loading="lazy" src="{{root}}assets/img/gremlin/gremlin-site-mock.jpg" alt="Gremlin Ventures websites" class="responsive"/>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>