---
title: Hues Automotive Repaints
logo-color: hues-color
---


<main class="main bc-hues">

    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Hues Automotive Repaints</h1>
                        <h2>logo, wordmark</h2>
                        <p>
                            Hues is a startup based out of Calgary, AB. The script font features a custom "H" that doubles as a recognizable icon. This, as well as the trio of colours creates a flexible logo with plenty of options.
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <div class="text-center logo-bg logo-bg-hues">
                <img loading="lazy" src="{{root}}assets/img/hues/hues_logo_h.svg" alt="Hues icon" class="logo-center" />
            </div>

            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/hues/hues_logo_dark.svg" alt="Hues logo" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg logo-bg-dark">
                <img loading="lazy" src="{{root}}assets/img/hues/hues_logo_full.svg" alt="Hues logo 2" class="logo-center" />
            </div>
        </div>
    </section>
    
    {{> portfolio-nav}}
</main>