---
title: Huumans - Craft CMS Website Development
description: "I worked with huumans bookkeeping out of Halifax, NS to build their new website."
logo-color: huumans-color
---

<main class="main bc-huumans">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Huumans</h1>
          <h2>Craft CMS website development</h2>
          <p>
            I worked with huumans bookkeeping out of Halifax, NS to build their new website. The site is fully modularized, giving content creators the ability to create beautiful pages without any technical know-how. Built with Craft CMS.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.huumans.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/huumans/huumans-site-mock.jpg" alt="Huumans bookkeeping website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>