---
title: Ignite Coaching and Consulting
logo-color: ignite-color
---

<main class="main bc-ignite">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Ignite HR Coaching &amp; Consulting</h1>
                    <h2>logo, wordmark</h2>
                    <p>
                        A Saskatoon consulting firm focused on helping businesses get the most out of their employees. The logo has a sense of urgency and motion to help convey this message.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/ignite/ignite_logo_dark.svg" alt="Ignite logo" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg logo-bg-dark">
                <img loading="lazy" src="{{root}}assets/img/ignite/ignite_logo.svg" alt="Ignite logo 2" class="logo-center" />
            </div>

            <div class="text-center logo-bg logo-bg-ignite">
                <img loading="lazy" src="{{root}}assets/img/ignite/ignite_logo_light.svg" alt="Ignite logo 3" class="logo-center" />
            </div>
        </div>
    </section>    
    
    {{> portfolio-nav}}
</main>
