---
title: Karma Salon
logo-color: karma-color
---

<main class="main bc-karma">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Karma Salon</h1>
                    <h2>website design and development</h2>
                    <p>
                        I was hired by Karma Salon to design and develop their new website. Customers are able to view the bio's of stylists, book an appointment, browse photos of the salon and more. The ditressed, organic feel of the website matches Karma's interior design, creating a seamless experience from web to salon. Developed with Craft CMS.
                    </p>
                </div>
            </div>
        </div>
        <div class="container text-center" id="portfolio-display">
            <a href="https://karma.salon" target="_blank">
                <img loading="lazy" src="{{root}}assets/img/karma/karma-site-mock.jpg" alt="Karma Salon" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
    </section>    
    
    {{> portfolio-nav}}
</main>
