---
title: Karo
logo-color: karo-color
---

<main class="main bc-karo">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Karo</h1>
                    <h2>CMS website development</h2>
                    <p>
                        I was hired by Karo to develop their website, allowing them to modularize the way they build case studies. To do this, I built a customized content editor within the CMS, giving the team at Karo the ability to create case studies by selecting elements and editing their text, color, size, images or video. Art direction and design by <a href="https://www.studioadamwarner.com/" target="_blank" >Adam Warner</a>. Creative direction by <a href="http://nathanatnikov.com/" target="_blank">Nathan Atnikov</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <a href="http://karo.nathanatnikov.com/" target="_blank">
                <img loading="lazy" src="{{root}}assets/img/karo-site-mock.jpg" alt="Karo" class="responsive"/>
            </a>
        </div>
    </section>    
    
    {{> portfolio-nav}}
</main>
