---
title: "Kind Neighbour - Website Design & Development"
description: "I worked with the Calgary Senior Resoure Society on their Kind Neighbour campaign."
logo-color: kind-color
---

<main class="main bc-kind">
  {{> header}}
  
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Kind Neighbour</h1>
          <h2>Website design, Craft CMS development</h2>
          <p>
            I worked with the <a href="https://www.calgaryseniors.org/" target="_blank" rel="noopener noreferrer">Calgary Senior Resoure Society</a> on their Kind Neighbour campaign. The website features a public corkboard where informal volunteers can post good deeds and inspiration for other community members. Campaign branding and design by <a href="https://www.sluggerstudio.com/" target="_blank" rel="noopener noreferrer">Slugger</a>, project management and creative direction by <a href="https://guerboiscreative.com/" target="_blank" rel="noopener noreferrer">Guerbois Creative</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.kindneighbour.ca/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/kind/kind-site-mockup.jpg" alt="Kind Neighbour website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  <div class="section-break light solution quote margin-top-xlarge" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/kind/jessica.jpeg" alt="Jessica White" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;Bryce is an amazing web designer. He helped build our Kind Neighbour website which mobilizes neighbours to support seniors in their communities. The website he built was user friendly, eye catching, and intuitive. Bryce is great to work with, as he is creative, flexible, and patient. Would absolutely recommend Bryce for all your website projects!&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/jessica-white-52985498" target="_blank" rel="noopener noreferrer">Jessica White</a>, Volunteer Engagement & Igniting Neighbours Manager, Calgary Seniors' Resource Society</p>
        </blockquote>
      </div>
    </div>
  </div>

  {{> portfolio-nav}}
</main>