---
title: "Know Your Hose - Branding, Website Design & PWA Development"
description: "I worked with Mercedes Textiles to brand and build a website for their Know Your Hose campaign."
logo-color: kyh-color
---

<main class="main bc-kyh">
  {{> header}}
  
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Know Your Hose</h1>
          <h2>Branding, website design, Craft CMS development</h2>
          <p>
            I worked with <a href="https://mercedestextiles.com/" target="_blank" rel="noopener noreferrer">Mercedes Textiles Ltd</a>, via <a rel="noopener noreferrer" href="https://gotothewell.ca/" target="_blank">The Well</a>, to create a standalone brand and website for the "Know Your Hose" campaign. It features all the relevant specs for Mercedes' lineup of forestry and municipal fire hoses and helps firefighters calculate friction loss in their lines. The site features a content builder, custom calculator logic and full offline capabilities via progressive web app (PWA) functionality. Designed in Figma, built with Craft CMS, Vanilla JS and GraphQL. SEO and project management by <a href="https://www.rscreativ.com/" target="_blank" rel="noopener noreferrer">RSCreativ</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.knowyourhose.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/kyh/kyh-site-mockup.jpg" alt="Know Your Hose website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  <div class="section-break light solution quote margin-top-xlarge" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/kyh/lydia.jpeg" alt="Lydia Jackson" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;Bryce was absolutely phenomenal to work with from start to finish. He jumped right in on our brand with very little direction and produced a clean, modern design to evolve our brand on the web. Furthermore, he developed a simple, yet robust CMS solution to fit our exact needs, working with us to finalize every detail as needed, on time and on budget. 10/10 would recommend and will return!&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/lydiajackson" target="_blank" rel="noopener noreferrer">Lydia Jackson</a>, Marketing Director, Mercedes Textiles Ltd</p>
        </blockquote>
      </div>
    </div>
  </div>

  {{> portfolio-nav}}
</main>