---
title: Logos and Wordmarks
description: "Logo and wordmark design"
logo-color: logos-color
---

<main class="main bc-logos">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Logo Design</h1>
          <h2>Logos and wordmarks</h2>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <p class="text-center">
        Explorations for <strong>Faire</strong>, a startup in the transportation industry.
      </p>
      <div class="text-center logo-bg">
        <img loading="lazy" src="{{root}}assets/img/faire/faire_3.svg" alt="faire 3" class="logo-center" />
      </div>
      <div class="text-center logo-bg">
        <img loading="lazy" src="{{root}}assets/img/faire/faire_2.svg" alt="faire 2" class="logo-center" />
      </div>
      <div class="text-center logo-bg logo-bg-faire">
        <img loading="lazy" src="{{root}}assets/img/faire/faire_5.svg" alt="faire 5" class="logo-center" />
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <p class="text-center">
        <strong>Ignite</strong> is a Saskatoon consulting firm focused on helping businesses get the most out of their employees.
      </p>
      <div class="text-center logo-bg">
        <img loading="lazy" src="{{root}}assets/img/ignite/ignite_logo_dark.svg" alt="Ignite logo" class="logo-center" />
      </div>
      
      <div class="text-center logo-bg logo-bg-dark">
        <img loading="lazy" src="{{root}}assets/img/ignite/ignite_logo.svg" alt="Ignite logo 2" class="logo-center" />
      </div>

      <div class="text-center logo-bg logo-bg-ignite">
        <img loading="lazy" src="{{root}}assets/img/ignite/ignite_logo_light.svg" alt="Ignite logo 3" class="logo-center" />
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <p class="text-center">
        A consulting company focused on First Nations employees, <strong>Thrive</strong> needed a logo that exemplified growth, nature and community.
      </p>
      <div class="text-center logo-bg">
        <img loading="lazy" src="{{root}}assets/img/thrive/thrive_logo_dark.svg" alt="thrive logo" class="logo-center" />
      </div>
      
      <div class="text-center logo-bg">
        <img loading="lazy" src="{{root}}assets/img/thrive/thrive_wordmark.svg" alt="thrive wordmark" class="logo-center" />
      </div>
      
      <div class="text-center logo-bg logo-bg-thrive">
        <img loading="lazy" src="{{root}}assets/img/thrive/thrive_full.svg" alt="thrive wordmark" class="logo-center" />
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <p class="text-center">
        Branding for <strong>Archer Fruits</strong>, a fruit stand I co-owned and operated in Saskatoon, SK.
      </p>
       <div class="text-center logo-bg logo-bg-archer">
        <img loading="lazy" src="{{root}}assets/img/archer/archer_logo_white2.svg" alt="Archer logo" class="logo-center" />
      </div>
      
      <div class="text-center logo-bg">
        <img loading="lazy" src="{{root}}assets/img/archer/archer_logo.svg" alt="Archer logo 3" class="logo-center" />
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>