---
title: Love Your Job
logo-color: loveyourjob-color
---

<main class="main bc-loveyourjob">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Love Your Job (Teamsters 362)</h1>
                    <h2>website development</h2>
                    <p>
                        I was hired by Branch B to develop a website for Teamster 362's Love Your Job Campaign. Developed with Craft CMS.
                    </p>
                </div>
            </div>
        </div>
        <div class="container text-center" id="portfolio-display">
            <a href="https://loveyourjob.ca/" target="_blank">
                <img loading="lazy" src="{{root}}assets/img/lyj/lyj-site-mock.jpg" alt="Love Your Job" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
    </section>    
    
    {{> portfolio-nav}}
</main>
