---
title: "MDA: 2021 Annual Report - AR Design and Craft CMS Development"
description: "I worked with MDA, via Longview Communications, to design and build their 2021 Annual Report website."
logo-color: mda-color
---

<main class="main bc-mda">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>MDA: 2021 Annual Report</h1>
                    <h2>Website design, Craft CMS development</h2>
                    <p>
                      I worked with MDA, via <a href="https://longviewcomms.ca/" target="_blank" rel="noopener noreferrer">Longview Communications</a>, to design and build their 2021 Annual Report website. Designed in Figma, built with Craft CMS.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">            
            <div class="text-center">
                <a href="https://ar2021.mda.space/" target="_blank" rel="noopener noreferrer">
                  <img loading="lazy" src="{{root}}assets/img/mda/mda-site-mock.jpg" alt="MDA: 2021 Annual Report website" class="responsive"/>
                </a>
                <span class="caption">(click to go to website)</span>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>