---
title: Music 4 Life - Website Design and Development
description: "The Music 4 Life Concert Series raises awareness, educates and inspires a community to have conversations about mental health. I built their website."
logo-color: m4l-color
---

<main class="main bc-m4l">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
            <h1>Music 4 Life</h1>
            <h2>Website design and development</h2>
            <p>
              The Music 4 Life Concert Series raises awareness, educates and inspires a community to have conversations about mental health. I built their website. Art direction by <a href="https://www.studioadamwarner.com/" target="_blank" rel="noopener noreferrer">Adam Warner</a>.
            </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">

      <div class="text-center logo-bg logo-bg-dark">
        <img loading="lazy" src="{{root}}assets/img/m4l/m4l_logo_white.svg" alt="Music4Life logo" class="logo-center" />
      </div>
      
      <div class="text-center">
        <a href="http://music4lifeconcert.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/m4l/m4l-site-mock.jpg" alt="Music4Life website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>