---
title: Nourish Food Marketing - Craft CMS Website development
description: "I worked with Nourish, via The Well, to develop their new website. Built with Craft CMS."
logo-color: nourish-color
---

<main class="main bc-nourish">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Nourish Food Marketing</h1>
          <h2>Craft CMS website development</h2>
          <p>
            I worked with Nourish, via <a href="https://gotothewell.ca/" target="_blank" rel="noopener noreferrer">The Well</a>, to develop their new website. Built with Craft CMS.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.nourish.marketing/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/nourish/nourish-site-mock.jpg" alt="Nourish Food Marketing website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>