---
title: "Private Debt and Equity - Branding, Website Design & Development"
description: "I worked with Private Debt and Equity, via The Well, to create their visual identity and design and develop their new website. Built with Craft CMS and a fully modular content builder."
logo-color: pde-color
---

<main class="main bc-pde">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Private Debt and Equity</h1>
          <h2>Branding, website design, Craft CMS development</h2>
          <p>
            I worked with Private Debt and Equity, via <a rel="noopener noreferrer" href="https://gotothewell.ca/" target="_blank">The Well</a>, to create their visual identity and design and develop their new website. Built with Craft CMS and a fully modular content builder.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.privatedebtandequity.ca/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/pde/pde-site-mockup.jpg" alt="Private Debt and Equity website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  <div class="section-break light solution quote" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/pde/bob-simpson.jpeg" alt="Bob Simpson" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;We were referred to Bryce by another company that had great insight and feedback. We echo this same experience of his intuitiveness and appreciation of how he was able to easily grasp the concepts at hand. His implementation strategy has lead us to a happy result on our website. Thank you Bryce for all the work.&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/robertlsimpson/" target="_blank" rel="noopener noreferrer">Bob Simpson</a>, Co-Founder, PrivateDebtandEquity.ca</p>
        </blockquote>
      </div>
    </div>
  </div>

  {{> portfolio-nav}}
</main>