---
title: Parent Tested, Parent Approved - Website Design and Modular Wodpress Development
description: "I worked with PTPA, via The Well, to design and develop their new B2B site. Built as a custom Wordpress theme with Advanced Custom Fields and Gutenberg blocks."
logo-color: ptpa-color
---

<main class="main bc-ptpa">    
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Parent Tested, Parent Approved</h1>
          <h2>Website design, modular Wordpress development</h2>
          <p>
            I worked with PTPA, via <a href="https://gotothewell.ca/" target="_blank" rel="noopener noreferrer">The Well</a>, to design and develop their new B2B site. Built as a custom Wordpress theme with Advanced Custom Fields and Gutenberg blocks.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <div class="text-center">
      <a href="https://www.ptpaawards.com/" target="_blank" rel="noopener noreferrer">
        <img loading="lazy" src="{{root}}assets/img/ptpa/ptpa-site-mockup-r1.jpg" alt="Parent Tested, Parent Approved - Website mockups" class="responsive"/>
      </a>
      <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  <div class="section-break light solution quote margin-top-xlarge" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/ptpa/marty.jpeg" alt="Marty Henwood" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;Bryce is a true professional. His exceptional design and development of our new website exceeded our expectations. We couldn't be more thrilled with the results, and I highly recommend his expertise to anyone seeking top-notch web design and development.&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/marty-henwood" target="_blank" rel="noopener noreferrer">Marty Henwood</a>, Marketing Manager, Parent Tested Parent Approved</p>
        </blockquote>
      </div>
    </div>
  </div>
  
  {{> portfolio-nav}}
</main>
