---
title: PUPfluence - Custom Shopify Design and Development
description: "I work with PUPfluence, via The Well, to design and develop Shopify stores for their dog influencer clients to sell branded treats."
logo-color: pupfluence-color
---

<main class="main bc-pupfluence">    
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>PUPfluence</h1>
          <h2>Custom Shopify design and development</h2>
          <p>
            I work with <a href="https://www.pupfluence.design/" target="_blank" rel="noopener noreferrer">PUPfluence</a>, via <a href="https://gotothewell.ca/" target="_blank" rel="noopener noreferrer">The Well</a>, to design and develop Shopify stores for their dog influencer clients to sell branded treats. The themes are designed in Figma and built from the ground up, managed via the Shopify CLI.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">
        <div class="text-center">
            <a href="https://delightfoo.com/" target="_blank" rel="noopener noreferrer">
                <img loading="lazy" src="{{root}}assets/img/pupfluence/pupfluence-delightfoo-site-mockup.jpg" alt="PUPfluence - Tatum Talks - Website mockups" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
        
        <div class="text-center">
            <a href="https://bad-boy-bites.com/" target="_blank" rel="noopener noreferrer">
                <img loading="lazy" src="{{root}}assets/img/pupfluence/pupfluence-bbb-site-mockup.jpg" alt="PUPfluence - Bad Boy Bru - Website mockups" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
        
        <div class="text-center">
            <a href="https://www.pupfluence.design/" target="_blank" rel="noopener noreferrer">
                <img loading="lazy" src="{{root}}assets/img/pupfluence/pupfluence-site-mockup.jpg" alt="PUPfluence website mockups" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
    </div>
  </section>

  <div class="section-break light solution quote margin-top-xlarge" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/pupfluence/Kaitlyn-Stegmaier.jpeg" alt="Kaitlyn Stegmaier" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;Working with Bryce was an absolute dream. After just a short call, he fully understood our vision and built multiple beautiful websites from start to finish with only a couple rounds of revisions. He was also very responsive to our emails and went above and beyond for our requests. We look forward to working with Bryce again in the future!&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/kaitlyn-stegmaier-9390b2160/" target="_blank" rel="noopener noreferrer">Kaitlyn Stegmaier</a>, Creative Director, Dox Design &amp; PUPfluence</p>
        </blockquote>
      </div>
    </div>
  </div>
  
  <div class="section-break light solution quote" id="quote" style="padding-top: 0">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/pupfluence/emma-low.jpeg" alt="Emma Low" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;Bryce is an exceptionally talented web designer and an all-around amazing person! He has crafted multiple stunning websites for us, all within impressively tight deadlines. I'm thrilled to keep collaborating with him on any web project that comes our way!&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/emma-low-5a7171149/" target="_blank" rel="noopener noreferrer">Emma Low</a>, CEO, Dox Design &amp; PUPfluence</p>
        </blockquote>
      </div>
    </div>
  </div>
  
  {{> portfolio-nav}}
</main>
