---
title: "Quota - Craft CMS Website Development"
description: "I worked with Quota to rebrand their website, dark-mode style"
logo-color: quota-color
---

<main class="main bc-quota">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Quota</h1>
                    <h2>website development</h2>
                    <p>
                        I worked with Quota to build their new website, dark-mode style. Built with Craft CMS.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">            
            <div class="text-center">
              <a href="https://www.getquota.co/" target="_blank" rel="noopener noreferrer">
                <img loading="lazy" src="{{root}}assets/img/quota/quota-site-mockup.jpg" alt="Quota website" class="responsive"/>
              </a>
              <span class="caption">(click to go to website)</span>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>