---
title: Sanderson Ridge
logo-color: sanderson-color
---

<main class="main bc-sanderson">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Sanderson Ridge</h1>
                    <h2>website development</h2>
                    <p>
                        I was hired by <a href="http://ansticecom.com/" target="_blank">Anstice Communications</a> to develop a website for Sanderson Ridge. Developed with Craft CMS.
                    </p>
                </div>
            </div>
        </div>
        <div class="container text-center" id="portfolio-display">
            <a href="https://sandersonridge.ca" target="_blank">
                <img loading="lazy" src="{{root}}assets/img/sanderson/sanderson-site-mock.jpg" alt="Sanderson Ridge" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
    </section>    
    
    {{> portfolio-nav}}
</main>
