---
title: Saskatchewan Indian Gaming Association - Infographic Design
description: "A three-foot-tall printed infographic commissioned by the Saskatchewan Indian Gaming Association to inform staff."
logo-color: siga-color
---

<main class="main bc-siga">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Saskatchewan Indian Gaming Association</h1>
          <h2>Internal infographic design</h2>
          <p>
            A three-foot-tall printed infographic commissioned by the Saskatchewan Indian Gaming Association to inform staff.
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="{{root}}assets/img/siga/siga_lg.jpg" target="_blank">
        <img loading="lazy" src="{{root}}assets/img/siga/siga_sm.png" alt="SIGA Inforgraphic" class="responsive" />
      </a>
      <span class="caption" style="margin-top:1rem;">(click to view full resolution)</span>
    </div>
  </section>

  {{> portfolio-nav}}
</main>
