---
title: Subway Digital Deals - Webapp Development
description: "I was hired by Karo to develop a fully editable digital coupon site for a collection of Western Canadian Subway franchises. Built using Twilio SMS service and Craft CMS."
logo-color: subway-color
---

<main class="main bc-subway">    
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Subway Digital Deals</h1>
          <h2>Webapp development</h2>
          <p>
            I was hired by Karo to develop a fully editable digital coupon site for a collection of Western Canadian Subway franchises. Built using Twilio SMS service and Craft CMS. Art direction and design by <a href="https://www.studioadamwarner.com/" target="_blank" rel="noopener noreferrer">Adam Warner</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">
      <img loading="lazy" src="{{root}}assets/img/subway-site-mock.jpg" alt="Subway Digital Deals" class="responsive"/>
    </div>
  </section>    
  
  {{> portfolio-nav}}
</main>
