---
title: "Tate & Lyle - Craft CMS Website Development"
description: "I worked with Tate & Lyle, via The Well and Nourish, to build a website for an upcoming tradeshow on short notice. Features include an event calendar and live search. Built with Craft CMS. "
logo-color: tatelyle-color
---

<main class="main bc-tatelyle">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Tate & Lyle</h1>
          <h2>Craft CMS development</h2>
          <p>
            I worked with Tate & Lyle, via <a rel="noopener noreferrer" href="https://gotothewell.ca/" target="_blank">The Well</a> and <a href="https://nourish.marketing/" target="_blank" rel="noopener noreferrer">Nourish</a>, to build a website for an upcoming tradeshow on VERY short notice. Features include an event calendar and live search. Built with Craft CMS. 
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://kitchen.tateandlyle.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/tatelyle/tatelyle-site-mockup.jpg" alt="Tate & Lyle website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>