---
title: Thrive Consulting
logo-color: thrive-color
---

<main class="main bc-thrive">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>thrive solutions</h1>
                        <h2>logo, wordmark</h2>
                        <p>
                            A consulting company focused on First Nations employees, Thrive needed a logo that exemplified growth, nature and community. The emblem emerged from explorations into these characteristics.
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">

            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/thrive/thrive_logo_dark.svg" alt="thrive logo" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg">
                <img loading="lazy" src="{{root}}assets/img/thrive/thrive_wordmark.svg" alt="thrive wordmark" class="logo-center" />
            </div>
            
            <div class="text-center logo-bg logo-bg-thrive">
                <img loading="lazy" src="{{root}}assets/img/thrive/thrive_full.svg" alt="thrive wordmark" class="logo-center" />
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>
