---
title: Vendasta
logo-color: vendasta-color
---

<main class="main bc-vendasta">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Vendasta</h1>
                        <h2>website, print, marketing</h2>
                        <p>
                            I started with Vendasta as a designer/developer in 2012, eventually becoming Senior Web Developer. My responsibilities varied from writing search ads to designing t-shirts, creating internal posters to redesigning and developing web assets (and so much more).
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <div class="text-center">
                <a href="https://vendasta.com" target="_blank">
                    <img loading="lazy" src="{{root}}assets/img/vendasta/vendasta-site-mock.jpg" alt="Vendasta Website" class="responsive"/>
                </a>
                <span class="caption">Marketing / lead generation website (built using Python)</span>
                
                <a href="https://vendasta.com/blog" target="_blank">
                    <img loading="lazy" src="{{root}}assets/img/vendasta/vendasta-blog-mock.jpg" alt="Vendasta Blog" class="responsive"/>
                </a>
                <span class="caption">Blog (custom Wordpress theme)</span>

                <a href="https://support.vendasta.com" target="_blank">
                    <img loading="lazy" src="{{root}}assets/img/vendasta/vendasta-support-mock.jpg" alt="Vendasta Support" class="responsive"/>
                </a>
                <span class="caption">Vendasta support portal (built in Zendesk)</span>
            </div>
        </div>
    </section>
    
    {{> portfolio-nav}}
</main> 