---
title: Verb Magazine
logo-color: verb-color
---

<main class="main bc-verb">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                        <h1>Verb Magazine</h1>
                        <h2>cover design, ad design</h2>
                        <p>
                            I spent a year and a half with Verb (based in Saskatoon and Regina) as Design Lead. Working with a small team on an independant paper was a blast. This is a small collection of cover art and advertisements from that time.
                        </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">
            <div class="text-center">
                <span class="caption caption-top">Cover design</span>
                <img loading="lazy" src="{{root}}assets/img/verb/smalls.jpg" alt="The Smalls cover" class="responsive"/>
                <img loading="lazy" src="{{root}}assets/img/verb/buck65.jpg" alt="Buck 65 cover" class="responsive" />
                <img loading="lazy" src="{{root}}assets/img/verb/libraryvoices.jpg" alt="Library Voices cover" class="responsive" />
                <img loading="lazy" src="{{root}}assets/img/verb/theo.jpg" alt="Theo Fleury cover" class="responsive" />

                <span class="caption caption-top">Advertisement design</span>
                <img loading="lazy" src="{{root}}assets/img/verb/mulligans.jpg" alt="Mulligans" class="responsive"/>
                <img loading="lazy" src="{{root}}assets/img/verb/kfam.jpg" alt="K Family Restaurant" class="responsive" />
                <img loading="lazy" src="{{root}}assets/img/verb/german.jpg" alt="German Concordia Club" class="responsive" />
                <img loading="lazy" src="{{root}}assets/img/verb/birminghams.jpg" alt="Birminghams" class="responsive" />
            </div>
        </div>
    </section>
    
    {{> portfolio-nav}}
</main> 