---
title: Viveau
logo-color: viveau-color
---

<main class="main bc-viveau">    
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Viveau</h1>
                    <h2>website design, development</h2>
                    <p>
                        I was hired by The Well and Fundy Drinks to plan, design and develop the new website for Viveau, a new Canadian beverage.
                    </p>
                </div>
            </div>
        </div>
        <div class="container text-center" id="portfolio-display">
            <a href="https://www.drinkviveau.com/" target="_blank">
                <img loading="lazy" src="{{root}}assets/img/viveau/viveau-site-mock.jpg" alt="Viveau" class="responsive"/>
            </a>
            <span class="caption">(click to go to website)</span>
        </div>
    </section>
    
    {{> portfolio-nav}}
</main>
