---
title: "Wealth Stewards - Website Design & Development"
description: "I worked with Wealth Stewards, via The Well, to design and develop their new website. The build includes a members-only area with a profile editor, access to custom documents and more. Built with Craft CMS and a fully modular content builder."
logo-color: wealthstewards-color
---

<main class="main bc-wealthstewards">
  {{> header}}
  <section>
    <div class="portfolio-text-container">
      <div class="container">
        <div class="portfolio-text">
          <h1>Wealth Stewards</h1>
          <h2>Website design, Craft CMS development</h2>
          <p>
            I worked with Wealth Stewards, via <a rel="noopener noreferrer" href="https://gotothewell.ca/" target="_blank">The Well</a>, to design and develop their new website. The build includes a members-only area with a profile editor, access to custom documents and more. Built with Craft CMS and a fully modular content builder.
          </p>
        </div>
      </div>
    </div>
    <div class="container" id="portfolio-display">            
      <div class="text-center">
        <a href="https://www.wealthstewards.ca/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/wealthstewards/wealthstewards-site-mockup.jpg" alt="Wealth Stewards website" class="responsive"/>
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
  </section>

  <div class="section-break light solution quote" id="quote">
    <div class="container">
      <div class="row">
        <div class="small-12 medium-3 large-2 large-push-1 columns">
          <img loading="lazy" src="{{root}}assets/img/wealthstewards/requeza-reyes.jpeg" alt="Requeza Reyes" />
        </div>
        <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
          <p>
            &#8220;From the get go Bryce was transparent and very easy to communicate with. His efficiency, flexibility and time that he put into this work was very much appreciated throughout our website creation process. For your effortless collaboration and applied expertise, we thank you!&#8221;
          </p>
          <p>&mdash; <a href="https://www.linkedin.com/in/requezareyes" target="_blank" rel="noopener noreferrer">Requeza Reyes</a>, Associate Marketing and Media Manager, Wealth Stewards Inc.</p>
        </blockquote>
      </div>
    </div>
  </div>

  {{> portfolio-nav}}
</main>