---
title: "Wellugwet: Branding, Design and Craft CMS Development"
description: "I worked with Wellugwet, via Iron House Pro and The Well, to brand, design and build their new website."
logo-color: mda-color
---

<main class="main bc-mda">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Wellugwet</h1>
                    <h2>Branding, website design, Craft CMS development</h2>
                    <p>
                      I worked with Wellugwet, via <a href="https://ironhousepro.com/" target="_blank" rel="noopener noreferrer">Iron House Pro</a> and <a href="https://gotothewell.ca/" target="_blank" rel="noopener noreferrer">The Well</a>, to brand, design and develop their new website, promoting the new collaboration between The North Shore Mi'kmaq Tribal Council and Hatch.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">            
            <div class="text-center">
                <a href="https://www.wellugwet.ca/" target="_blank" rel="noopener noreferrer">
                  <img loading="lazy" src="{{root}}assets/img/wellugwet/wellugwet-site-mockup.jpg" alt="Wellugwet website" class="responsive"/>
                </a>
                <span class="caption">(click to go to website)</span>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>