---
title: Willow Park Wines and Spirits
logo-color: willowpark-color
---

<main class="main bc-willowpark">
    {{> header}}
    <section>
        <div class="portfolio-text-container">
            <div class="container">
                <div class="portfolio-text">
                    <h1>Willow Park Wines &amp; Spirits</h1>
                    <h2>responsive overhaul, ongoing website maintenance</h2>
                    <p>
                        Responsive, mobile-ready redesign and backend overhaul for Willow Park's e-commerce website, based on a previous design.
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="portfolio-display">            
            <div class="text-center">
                <a href="https://www.willowpark.net/" target="_blank"><img loading="lazy" src="{{root}}assets/img/willowpark/wp-site-mock.jpg" alt="Willow Park website" class="responsive"/></a>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>