---
title: Case Study - Ackah Business Immigration Law
logo-color: ackah-color
og-image: /assets/img/ackah/evelyn-ackah.jpg
---

<main class="main bc-ackah case-study">
    {{> header}}
    <section>
        <div class="section-break light" >
            <div class="text-center container">
                <p class="subhead">Case Study</p>
                <h2>Ackah Business Immigration Law</h2>
                <p>
                    Ackah Business Immigration Law is a boutique corporate immigration law firm based in Calgary with offices in Vancouver and Toronto. They work with clients all over the world.
                </p>
            </div>
        </div>
        <div class="section-break no-padding">
            <img loading="lazy" src="{{root}}assets/img/ackah/evelyn-ackah.jpg" alt="Ackah Business Immigration Law - Evelyn Ackah" class="responsive" style="width: 100%;" />
            <div class="text-center logo-bg logo-bg-ackah">
                <p class="caption intro">Photograph by Trudie Lee</p>
                <img loading="lazy" src="{{root}}assets/img/ackah/ackah-logo-white.svg" alt="Ackah Business Immigration Law logo" class="logo-center " />
            </div>
        </div>
        <div class="section-break light">
            <div class="container text-center">
                <h3>The Project</h3>
                <h4>Details</h4>
                <p>
                    I was hired by Ackah Law to concept, design and develop their new corporate website.
                </p>
                <h4>Key Requirements</h4>
                <p>Modernize the look and feel of the firm's website and create a control panel that easily allows the team’s content creators to edit, publish and share content.</p>
                <h4>Team</h4>
                <p class="team">
                    <span>Bryce Kirk:</span> Art direction, UX, design and development / <span><a href="https://hirecatherine.com/" target="_blank">Catherine Russell: </a></span>UX and content
                </p>

            </div>
        </div>  
        <div class="section-break no-padding ">
            <div class="row collapse full-width half-img" id="ackah-half-img">
                <div class="small-12 large-6 columns" ></div>
                <div class="small-12 large-6 columns" id="half-text">
                    <h3>The Concept</h3>
                    <h4>Well Organized</h4>
                    <p>
                        Use search and navigation to help every type of user quickly find what they're looking for.
                    </p>
                    <h4>Universal Appeal</h4>
                    <p>
                        Create an approachable, professional design that informs both corporate and non-professional customers about services, breaking immigration news and more.
                    </p>
                    <h4>Leading the Way</h4>
                    <p>
                        Highlight Evelyn Ackah as a thought leader in the industry.
                    </p> 
                </div>
            </div>
        </div>

        <!-- Execution -->
        <div class="section-break light solution">
            <div class="container text-center">
                <h3>The Execution</h3>
                <h4>Measure Twice, Cut Once</h4>
                <p class="keyline dark">
                    With over 500 pages, organization was key. Each needed to be sorted, categorized and displayed to either Corporate or Personal customers, or both. All this organization needed to be intuitive for admin users to add, update and move pages. The solution was to create tags for each page that automatically generate navigation, overviews, related pages and more.
                </p>
                <img loading="lazy" src="{{root}}assets/img/ackah/ackah-cp.png" alt="Ackah Business Immigration Law - Control Panel Structure" />
                <img loading="lazy" src="{{root}}assets/img/ackah/ackah-move-canada.png" alt="Ackah Business Immigration Law - Overview Page" />
                <img loading="lazy" src="{{root}}assets/img/ackah/ackah-related.jpg" alt="Ackah Business Immigration Law - Related Blogs" />
            </div>
        </div>

        <div class="section-break solution">
            <div class="container text-center">
                <h4>Accessible Navigation</h4>
                <p class="keyline dark">
                    Once the structure was set, the next step was to enable users to quickly and easily navigate through the site’s many pages. This was achieved with organized search, a sidebar, mega menu dropdowns on desktop and an accordion navigation on mobile.
                </p>
                <div class="row">
                    <div class="small-12 large-4 large-push-2 columns">
                        <img loading="lazy" src="{{root}}assets/img/ackah/ackah-searchbar.png" alt="Ackah Search Bar" class="img500"/>
                    </div>
                    <div class="small-12 large-4 large-push-2 end columns ">
                        <img loading="lazy" src="{{root}}assets/img/ackah/ackah-search-results.png" alt="Ackah Business Immigration Law - Search Results" class="img500"/>
                    </div>
                </div>
                <img loading="lazy" src="{{root}}assets/img/ackah/ackah-sidebar.png" alt="Ackah Sidebar" class="img100p"/>
                <video autoplay loop muted class="responsive">
                    <source src="{{root}}assets/img/ackah/ackah-accordion-nav.mp4" type="video/mp4">
                    <source src="{{root}}assets/img/ackah/ackah-accordion-nav.webm" type="video/webm">
                </video>
                <img loading="lazy" src="{{root}}assets/img/ackah/ackah-accordion-still.png" class="mobileVideoFix" alt="Ackah Business Immigration Law - Accordion Nav" />

                <video autoplay loop muted class="responsive">
                    <source src="{{root}}assets/img/ackah/ackah-mega-menu.mp4" type="video/mp4">
                    <source src="{{root}}assets/img/ackah/ackah-mega-menu.webm" type="video/webm">
                </video>
                <img loading="lazy" src="{{root}}assets/img/ackah/mega-menu-still.jpg" class="mobileVideoFix" alt="Ackah Business Immigration Law - Mega Menu" />
            </div>
        </div>

        <div class="section-break dark solution">
            <div class="container text-center">
                <h4>Friendly, Professional and Helpful</h4>
                <p class="keyline">    
                    The design needed to be approachable and accessible by Ackah Law’s varied audience. This is reflected in the typography, iconography, colour choice, photography and layout.
                </p>
                <img loading="lazy" src="{{root}}assets/img/ackah/homepage-resources.png" class="img100p" alt="Ackah Business Immigration Law - Cards" />
                <img loading="lazy" src="{{root}}assets/img/ackah/resources.png" class="img100p" alt="Ackah Cards 2" />
                <div class="margin-top-huge margin-bottom-huge">
                    <img loading="lazy" src="{{root}}assets/img/ackah/typography.png" class="img100p" alt="Ackah Business Immigration Law - Typography" style="width:550px; max-width:100%" />
                </div>
                <img loading="lazy" src="{{root}}assets/img/ackah/ackah-personal-immigration.jpg" class="img100p" alt="Ackah Business Immigration Law - Personal Immigration" />
                <div class="row margin-top-huge">
                    <div class="small-12 large-4 large-push-2 columns">
                        <img loading="lazy" src="{{root}}assets/img/ackah/ackah-contact-bar.png" alt="Ackah Business Immigration Law - Contact Bar" class="img500"/>
                    </div>
                    <div class="small-12 large-4 large-push-2 end columns">
                        <img loading="lazy" src="{{root}}assets/img/ackah/ackah-news-nav.png" alt="Ackah Business Immigration Law - News Mobile" class="img500"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-break light solution">
            <div class="container text-center">
                <h4>Modular Approach</h4>
                <p class="keyline dark">
                    Content creators have the ability to set a custom testimonial, call to action, featured resource and more, or make their own from scratch. This allows pages with a specific audience to present the best materials and contact touchpoints.
                </p>
                <video muted autoplay loop class="responsive">
                    <source src="{{root}}assets/img/ackah/ackah-modular-approach.mp4" type="video/mp4">
                    <source src="{{root}}assets/img/ackah/ackah-modular-approach.webm" type="video/webm">
                </video>
                 <img loading="lazy" src="{{root}}assets/img/ackah/ackah-modular-approach.jpg" class="mobileVideoFix" alt="Ackah Business Immigration Law - Modular Approach" />
            </div>
        </div>

        <div class="section-break solution">
            <div class="container text-center">
                <h4>Custom CRM Integration</h4>
                <p class="keyline dark">
                    Lexicata–a law firm-specific CRM–required a custom integration between the website contact forms and the CRM's API. This was done by writing a script that collects the user’s form data, formats it and sends it in JSON via an ajax call.
                </p>
                 <img loading="lazy" src="{{root}}assets/img/ackah/ackah-crm-integration.jpg" class="img100p" alt="Ackah Business Immigration Law - Lexicata CRM Integration" />
            </div>
        </div>

        <div class="section-break light solution">
            <div class="container text-center">
                <h3>The Finished Product</h3>
                <h4>Keeping Customers and Content Creators Happy</h4>
                <p class="keyline dark">
                    Ackah Law’s new website presents the firm as a modern, professional institution, while the backend allows team members to keep the site up-to-date with the fast-paced immigration law industry.
                </p>
                <a href="https://www.ackahlaw.com/" target="_blank">
                    <img loading="lazy" src="{{root}}assets/img/ackah/ackah-site-mock.jpg" alt="Ackah Business Immigration Law - Website Mock" class="site-mock" />
                </a>
                <a class="caption" href="https://www.ackahlaw.com/" target="_blank">(Click to view site)</a>
            </div>
        </div>
        <div class="section-break  solution quote">
            <div class="container">
                <div class="row">
                    <div class="small-12 medium-3 large-2 large-push-1 columns">
                        <img loading="lazy" src="{{root}}assets/img/ackah/evelyn-headshot.jpg" alt="Evelyn Ackah" />
                    </div>
                    <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
                        <p>
                            &#8220;Ackah Business Immigration Law wanted to launch a new website - after 8 years spent expanding our old site, it was time. Bryce Kirk came highly referred and we began the process of designing, updating and launching our new look and brand over a few months. The result is even better than we could have imagined. We are very happy with the new website – it looks more modern and fresh and most importantly, it is user-friendly and my team can make edits to it as needed. I highly recommend Bryce Kirk for his talent, his exceptional technical skills, and his patience to ensure we get the absolute best product. Thank you, Bryce!&#8221;
                        </p>
                        <p>&mdash; Evelyn Ackah, Founder and Managing Lawyer, Ackah Business Immigration Law</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section-break solution">
            <div class="container text-center">
                <h4>Let's Build Something</h4>
                <p>
                    Consulting, design, and development. Whatever your requirements are, I can help you find the right solution. It all starts with a conversation.
                </p>
                <a class="button contactButton">Get in Touch</a>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>
            </div>
        </div>