---
title: Case Study - AMICo Annual Report 2015 - Website Design and Development
description: "I was hired by Karo to concept and deliver AIMCo’s 2015 Annual Report website."
logo-color: aimco-color
og-image: /assets/img/aimco/aimco-fb.jpg
---

<main class="main bc-aimco case-study">
  {{> header}}
  <section>
    <div class="section-break light" >
      <div class="text-center container">
        <p class="subhead">Case Study</p>
        <h2>AIMCo Annual Report 2015</h2>
        <p>
          Alberta Investment Management Corporation is a high performing fund manager delivering strong returns on investments for Albertans.
        </p>
      </div>
    </div>
    <div class="section-break no-padding">
      <img loading="lazy" src="{{root}}assets/img/aimco/aimco-ice-cave.jpg" alt="AIMCo - Ice Cave" class="responsive" style="width: 100%;" />
      <div class="text-center logo-bg logo-bg-aimco">
        <p class="caption intro">Photograph by Jeff Wallace</p>
        <img loading="lazy" src="{{root}}assets/img/aimco/aimco-logo-white.svg" alt="AIMCo logo" class="logo-center " />
      </div>
    </div>
    <div class="section-break light">
      <div class="container text-center">
        <h3>The Project</h3>
        <h4>Details</h4>
        <p>
          Adam Warner and I were hired by Karo to concept and deliver AIMCo’s 2015 Annual Report.
        </p>
        <h4>Key Requirements</h4>
        <p>
          The goals were to inform AIMCo’s clients and beneficiaries of their investments over the past year and reinforce the company’s focus on the future of all Albertans.
        </p>
        <h4>Team</h4>
        <p class="team">
          <span>Bryce Kirk:</span> Web design and development / <span><a href="https://www.studioadamwarner.com/" target="_blank">Adam Warner:</a></span> Art direction, graphic design (print) and photo retouching / <span><a href="http://www.karo.com/" target="_blank">Karo:</a></span> Account management / <span>AIMCo:</span> Report copy, data and organization / <span><a href="https://www.facebook.com/jeffwallacephotography/" target="_blank">Jeff Wallace:</a></span> Photography
        </p>

      </div>
    </div>  
    <div class="section-break no-padding ">
      <div class="row collapse full-width half-img" id="aimco-half-img">
        <div class="small-12 large-6 columns" ><p class="caption">Photograph by Jeff Wallace</p></div>
        <div class="small-12 large-6 columns" id="half-text">
          <h3>The Concept</h3>
          <h4>For Alberta</h4>
          <p>
            AIMCo’s work is bigger than individuals: its global reach is for the good of the province of Alberta, for the long term.
          </p>
          <h4>Global</h4>
          <p>
            AIMCO is promoting Alberta’s entrepreneurial, can-do spirit across global markets and investments.
          </p> 
          <h4>Diverse</h4>
          <p>
            From mountains to prairie fields, ice caves to city skylines, AIMCo’s global investments benefit a diverse range of Albertans.
          </p>
        </div>
      </div>
    </div>

    <!-- Execution -->
    <!-- The O -->
    <div class="section-break dark solution">
      <div class="container text-center">
        <h3>The Execution</h3>
        <h4>The AIMCo Circle</h4>
        <p class="keyline white">
          Incorporating the photography into the AIMCo Circle provides a strong design element throughout the website, reinforcing the theme <em>For Alberta</em> and acting as section identifiers.
        </p>
        <img loading="lazy" src="{{root}}assets/img/aimco/aimco-o-ice-cave.png" alt="AIMCo O - Ice Cave" class="img450"/>
        <img loading="lazy" src="{{root}}assets/img/aimco/aimco-o-combine.png" alt="AIMCo O - Combine" class="img450"/>
        <img loading="lazy" src="{{root}}assets/img/aimco/aimco-o-tower.png" alt="AIMCo O - Tower" class="img450"/>
        <img loading="lazy" src="{{root}}assets/img/aimco/aimco-o-screen.jpg" alt="AIMCo O - Website" />
      </div>
    </div>
    <!-- Guiding the Eye -->
    <div class="section-break light solution">
      <div class="container text-center">
        <h4>Guiding the Eye</h4>
        <p class="keyline dark">
          Bold keylines provide a way to separate information and cue important headlines, anchoring the typography to the page.
        </p>
        <img loading="lazy" src="{{root}}assets/img/aimco/keylines-mock1.jpg" alt="AIMCo - Keylines" />
        <img loading="lazy" src="{{root}}assets/img/aimco/keylines-mock4.jpg" alt="AIMCo - Keylines" />
        <img loading="lazy" src="{{root}}assets/img/aimco/keylines-mock2.jpg" alt="AIMCo - Keylines" />
      </div>
    </div>

    <!-- Graphs -->
    <div class="section-break solution">
      <div class="container text-center">
        <h4>Data Made Beautiful</h4>
        <p class="keyline dark">    
          Interactive, dynamic graphs bring the pages to life, achieving more than a static image ever could and encouraging the user to dig deeper.
        </p>
        <video autoplay loop muted class="responsive">
          <source src="{{root}}assets/img/aimco/aimco-graphs-video.mp4" type="video/mp4">
          <source src="{{root}}assets/img/aimco/aimco-graphs-video.webm" type="video/webm">
        </video>
        <img loading="lazy" src="{{root}}assets/img/aimco/aimco-graphs.jpg" class="mobileVideoFix" alt="AIMCo Graphs" />
      </div>
    </div>
    <!-- Framework -->
    <div class="section-break light solution">
      <div class="container text-center">
        <h4>The Framework</h4>
        <p class="keyline dark">
          amCharts and Foundation 6 were chosen for their ability to perform well across all platforms and devices.
        </p>
        <img loading="lazy" src="{{root}}assets/img/aimco/amcharts.png" alt="amCharts" class="img100p"/>
        <img loading="lazy" src="{{root}}assets/img/aimco/foundation-6.png" alt="Foundation 6" class="img100p"/>
        <video muted autoplay loop class="responsive margin-top-huge">
          <source src="{{root}}assets/img/aimco/aimco-responsive-video.mp4" type="video/mp4">
          <source src="{{root}}assets/img/aimco/aimco-responsive-video.webm" type="video/webm">
        </video>
         <img loading="lazy" src="{{root}}assets/img/aimco/aimco-responsive.jpg" class="mobileVideoFix" alt="AIMCo Responsive" />
      </div>
    </div>
    <!-- Graphs -->
    <div class="section-break solution">
      <div class="container text-center">
        <h3>The Finished Product</h3>
        <h4>Informing the World</h4>
        <p class="keyline dark">
          The online report successfully communicates to its core audience of clients, as well as the beneficiaries of those clients and AIMCo’s global partners.
        </p>
        <a href="http://www.aimco.alberta.ca/AIMCo_AR_2016/" target="_blank">
          <img loading="lazy" src="{{root}}assets/img/aimco/aimco-site-mock.jpg" alt="AIMCo - Website Mock" class="site-mock" />
        </a>
        <a class="caption" href="http://www.aimco.alberta.ca/AIMCo_AR_2016/" target="_blank">(Click to view site)</a>
      </div>
    </div>
    <div class="section-break light solution quote">
      <div class="container">
        <div class="row">
          <div class="small-12 medium-3 large-2 large-push-1 columns">
            <img loading="lazy" src="{{root}}assets/img/aimco/caitlin-headshot.jpg" alt="Caitlin Kangles" />
          </div>
          <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
            <p>
              &#8220;Bryce was an amazing collaborator on the AIMCo Annual Report. From the earliest stages of design, he always put himself in the audience's shoes, thinking of the best ways to intertwine beautiful design with an effective user experience.  The design of the printed piece was seamlessly adapted for the web experience, and navigating the site was as easy as reading the book from cover to cover. Bryce's work ethic had him become an immediate subject matter expert, which informed the way he designed and structured the website. My favourite thing about working with Bryce is the subtleties in his development and design approach. He always finds new ways to add nuances in design and functionality, and in the case of this site, they received the highest praise from the top executives at AIMCo.&#8221;
            </p>
            <p>&mdash; Caitlin Kangles, Director of Engagement 2014 - 2016, Karo</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="section-break solution">
      <div class="container text-center">
        <h4>Let's Build Something</h4>
        <p>
          Consulting, design, and development. Whatever your requirements are, I can help you find the right solution. It all starts with a conversation.
        </p>
        <a class="button contactButton">Get in Touch</a>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>
      </div>
    </div>