---
title: Case Study - ARC Resources Website
logo-color: arc-color
og-image: /assets/img/arc/arc-fb.jpg
---

<main class="main bc-aimco case-study">
    {{> header}}
    <section>
        <div class="section-break light" >
            <div class="text-center container">
                <p class="subhead">Case Study</p>
                <h2>ARC Resources</h2>
                <p>
                    ARC is one of Canada’s leading conventional oil and gas companies with operations focused in British Columbia and Alberta.
                </p>
            </div>
        </div>
        <div class="section-break no-padding">
            <img loading="lazy" src="{{root}}assets/img/arc/arc-header.jpg" alt="ARC Resources" class="responsive" style="width: 100%;" />
            <div class="text-center logo-bg logo-bg-arc">
                <p class="caption intro">Photograph by Ewan Nicholson</p>
                <img loading="lazy" src="{{root}}assets/img/arc/arc-logo-white.png" alt="ARC Resources logo" class="logo-center " />
            </div>
        </div>
        <div class="section-break light">
            <div class="container text-center">
                <h3>The Project</h3>
                <h4>Details</h4>
                <p>
                    I was hired by Karo to provide art direction, website design and development on ARC’s new website.
                </p>
                <h4>Key Requirements</h4>
                <p>
                    The goals were to modernize the look and feel of the site and restructure the content to make sense to all of ARC’s varied audiences.
                </p>
                <h4>Team</h4>
                <p class="team">
                    <span>Bryce Kirk:</span> Art direction, UX, design and development / <span><a href="http://nathanatnikov.com/" target="_blank">Nathan Atnikov:</a></span> Creative direction and copywriting / <span><a href="https://www.tailfeatherinc.com/" target="_blank">Tailfeather Inc.:</a></span> Market research / <span>Benny Lin:</span> UX and sitemapping / <span><a href="http://www.karo.com/" target="_blank">Karo:</a></span> Account management / <span><a href="https://www.ewannicholson.ca/" target="_blank">Ewan Nicholson:</a></span> Photography
                </p>
            </div>
        </div>

        <!-- Execution -->
        <div class="section-break dark solution">
            <div class="container text-center">
                <h3>The Execution</h3>
                <h4>Backed By Research</h4>
                <p class="keyline white">
                    Before moving a single pixel, data and insights were collected from employees, community stakeholders, investors and recruiters.
                </p>
                <img loading="lazy" src="{{root}}assets/img/arc/ven.png" alt="ARC - Ven Diagram" class="img700"/>
            </div>
        </div>
        
        <div class="section-break solution">
            <div class="container text-center">
                <h4>Built on Blueprints</h4>
                <p class="keyline dark">
                    The next step was to organize this information into an intuitive navigation and sitemap that makes sense to every type of user.
                </p>
                <img loading="lazy" src="{{root}}assets/img/arc/post-its.jpg" alt="ARC - Post Its" class="img700"/>
                <img loading="lazy" src="{{root}}assets/img/arc/nav.jpg" alt="ARC - Navigation" class="img700" />
                <div class="row">
                    <div class="small-12 large-4 large-push-2 columns">
                        <img loading="lazy" src="{{root}}assets/img/arc/nav-iphone.jpg" alt="ARC Navigation 2" class="img500"/>
                    </div>
                    <div class="small-12 large-4 large-push-2 end columns ">
                        <img loading="lazy" src="{{root}}assets/img/arc/nav-iphone2.jpg" alt="ARC Navigation 3" class="img500"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-break light solution">
            <div class="container text-center">
                <h4>Make it Beautiful</h4>
                <p class="keyline dark">    
                    With the foundation laid, I created an engaging, functional design that reaffirms ARC’s status as a trustworthy, forward-thinking industry leader.
                </p>
                <img loading="lazy" src="{{root}}assets/img/arc/arc-design1.jpg" alt="ARC designs" class="img700"/>
                <img loading="lazy" src="{{root}}assets/img/arc/arc-design2.jpg" alt="ARC designs 2" class="img700"/>
                <div class="row">
                    <div class="small-12 large-4 large-push-2 columns">
                        <img loading="lazy" src="{{root}}assets/img/arc/arc-design-iphone.jpg" alt="ARC designs 3" class="img500"/>
                    </div>
                    <div class="small-12 large-4 large-push-2 end columns ">
                        <img loading="lazy" src="{{root}}assets/img/arc/arc-design-iphone2.jpg" alt="ARC designs 4" class="img500"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section-break solution">
            <div class="container text-center">
                <h4>The Content Builder</h4>
                <p class="keyline dark">
                    Charts, lists, tables, reports–content needed to be built and displayed in many different ways. The solution was to create a content builder within the CMS, allowing highly-customizable pages that are editable by anyone from developer to copywriter.
                </p>
                <img loading="lazy" src="{{root}}assets/img/arc/content-edit.jpg" class="img700" alt="ARC Content Builder - Edit" />
                <img loading="lazy" src="{{root}}assets/img/arc/content-display.jpg" class="img700" alt="ARC Content Builder - Display" />
                <video autoplay loop muted class="responsive">
                    <source src="{{root}}assets/img/arc/content-builder.mp4" type="video/mp4">
                    <source src="{{root}}assets/img/arc/content-builder.webm" type="video/webm">
                </video>
                <img loading="lazy" src="{{root}}assets/img/arc/content-builder.jpg" class="mobileVideoFix" alt="ARC Content Builder" />
            </div>
        </div>
        
        <div class="section-break light solution">
            <div class="container text-center">
                <h4>Stocks and Shares</h4>
                <p class="keyline dark">    
                    Up-to-date stock data was a key requirement for investment users–no one wants to stare at endless tables (not even investors).
                </p>
                <img loading="lazy" src="{{root}}assets/img/arc/stocks.jpg" alt="ARC stocks" class="img700"/>
                <div class="row">
                    <div class="small-12 large-4 large-push-2 columns">
                        <img loading="lazy" src="{{root}}assets/img/arc/stocks-iphone.jpg" alt="ARC stocks 2" class="img500"/>
                    </div>
                    <div class="small-12 large-4 large-push-2 end columns ">
                        <img loading="lazy" src="{{root}}assets/img/arc/stocks-iphone2.jpg" alt="ARC stocks 3" class="img500"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-break solution">
            <div class="container text-center">
                <h3>The Finished Product</h3>
                <h4>A Website For Every Audience</h4>
                <p class="keyline dark">
                    Building a website from the right foundation is the key to success, proving you can have both form <em>and</em> function.
                </p>
                <a href="https://www.arcresources.com" target="_blank">
                    <img loading="lazy" src="{{root}}assets/img/arc/arc-site-mock.jpg" alt="ARC - Website Mock" class="site-mock" />
                </a>
                <a class="caption" href="https://www.arcresources.com/" target="_blank">(Click to view site)</a>
            </div>
        </div>
        <div class="section-break light solution quote">
            <div class="container">
                <div class="row">
                    <div class="small-12 medium-3 large-2 large-push-1 columns">
                        <img loading="lazy" src="{{root}}assets/img/arc/kayzra.jpg" alt="Kayzra Hemraj, Associate, Investor Relations, ARC Resources Ltd." />
                    </div>
                    <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
                        <p>
                            &#8220;I had the opportunity to work with and get to know Bryce through our company’s website redevelopment. Working with him was a breeze and he made every far reaching idea possible. He contributed fresh and impactful ideas, turned work around quickly, developed solutions to challenges we didn’t think we could overcome and put so much thought into every single part of the website. Post launch it was important for us to still be able to maintain the working relationship from a support standpoint and Bryce has been outstanding. He has helped to resolve every request and his turnaround time is impressive in addition to actually fixing the issue. I cannot stress enough how easy it is to work with Bryce. He knows his stuff and goes out of his way for his clients and projects. Thank you Bryce!&#8221;
                        </p>
                        <p>&mdash; Kayzra Hemraj, Associate, Investor Relations, ARC Resources Ltd.</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section-break solution">
            <div class="container text-center">
                <h4>Let's Build Something</h4>
                <p>
                    Consulting, design, and development. Whatever your requirements are, I can help you find the right solution. It all starts with a conversation.
                </p>
                <a class="button contactButton">Get in Touch</a>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>
            </div>
        </div>