---
title: Case Study - Blondie Boutique - Shopify Development
description: "I worked with Blondie Boutique to develop a visual direction for the brand, create an online shop and ensure cohesion between software systems."
logo-color: blondie-color
og-image: /assets/img/blondie/blondie-fb.jpg
---

<main class="main bc-blondie case-study">
    {{> header}}
    <section>
        <div class="section-break light" >
            <div class="text-center container">
                <p class="subhead">Case Study</p>
                <h2>Blondie Boutique</h2>
                <p>
                    Blondie Boutique is the manifestation of Megan Andre's love of fashion, featuring a curated selection of clothing from around the world. I worked with Megan to develop a visual direction for the brand, create an online shop and ensure cohesion between software systems.
                    <span class="role">Roles: Art direction, design, development, consulting</span>
                </p>
            </div>
        </div>
        <div class="section-break no-padding">
            <img loading="lazy" src="{{root}}assets/img/blondie/megan_andre.jpg" alt="Blondie Boutique - Megan Andre" class="responsive" style="width: 100%;" />
            <div class="text-center logo-bg logo-bg-dark">
                <img loading="lazy" src="{{root}}assets/img/blondie/blondie_logo_white.svg" alt="Blondie Boutique logo" class="logo-center " />
            </div>
        </div>
        <div class="section-break light">
            <div class="container text-center">
                <h3>The Challenge</h3>
                <p>
                    Create an online store that will elevate the brand to the level of its toughest competitors and integrate seamlessly with existing systems.
                </p>
            </div>
        </div>  
        <div class="section-break no-padding ">
            <div class="row collapse full-width half-img" id="blondie-half-img">
                <div class="small-12 large-6 columns" ></div>
                <div class="small-12 large-6 columns" id="half-text">
                    <h3>The Problem</h3>
                    <h4>Design</h4>
                    <p>
                        At the start of my involvement, the brand was in the early stages of its look and feel. The typography, photography and copy needed to reinforce Blondie’s personality, spanning the online store as well as the retail location.
                    </p>
                    <h4>Software</h4>
                    <p>
                        Communication was key. The online store needed to work with the retail location's POS, inventory and payment systems. Audience building and communication were also priorities.
                    </p>
                </div>
            </div>
        </div>

        <!-- Design -->
        <div class="section-break dark solution">
            <div class="container text-center">
                <h3>The Design Solution</h3>
                <h4>Typography</h4>
                <p class="keyline white">
                    Niveau Grotesk represented the perfect balance of cleanliness and personality. 
                </p>
                <img loading="lazy" src="{{root}}assets/img/blondie/blondie-typography.svg" alt="Blondie Boutique - Typography 1" class="img450" />
            </div>
        </div>
        <div class="section-break solution">
            <div class="container text-center">
                <h4>Product Images</h4>
                <p class="keyline dark">
                    The product shots needed to be bold and informative, replacing the changing room. 
                </p>
                <img loading="lazy" src="{{root}}assets/img/blondie/leather-pants-back.jpg" alt="Blondie Boutique product shot 1" class="img100p"/>
                <img loading="lazy" src="{{root}}assets/img/blondie/sweater-3up.jpg" alt="Blondie Boutique product shot 2" class="img100p"/>
                <img loading="lazy" src="{{root}}assets/img/blondie/jacket-zoom.jpg" alt="Blondie Boutique product shot 3" class="img100p"/>
                <p class="caption"><em>Photography courtesy of <a href="http://mountmedia.ca/" target="_blank" >Mount Media</a>.</em></p>
            </div>
            <div class="container text-center" id="photography">
                <h4>Photography</h4>
                <p class="keyline dark">
                    Shot throughout Calgary in late autumn, the photography toes the line between playful and serious.
                </p>
                <div class="row collapse margin-top-huge">
                    <div class="small-12 medium-6 columns">
                        <img loading="lazy" src="{{root}}assets/img/blondie/shoot4.jpg" alt="Blondie Boutique photoshoot 4" />
                    </div>
                    <div class="small-12 medium-6 columns">
                        <img loading="lazy" src="{{root}}assets/img/blondie/shoot5.jpg" alt="Blondie Boutique photoshoot 5" />
                    </div>
                    <div class="small-12 columns">
                        <img loading="lazy" src="{{root}}assets/img/blondie/shoot2.jpg" alt="Blondie Boutique photoshoot 2" />
                    </div>
                    <div class="small-12 medium-6 columns">
                        <img loading="lazy" src="{{root}}assets/img/blondie/shoot6.jpg" alt="Blondie Boutique photoshoot 6" />
                    </div>
                    <div class="small-12 medium-6 columns">
                        <img loading="lazy" src="{{root}}assets/img/blondie/shoot7.jpg" alt="Blondie Boutique photoshoot 7" />
                    </div>
                </div>
                <p class="caption"><em>Photography courtesy of <a href="http://mountmedia.ca/" target="_blank" >Mount Media</a>.</em></p>
            </div>
        </div>

        <!-- Software -->
        <div class="section-break light solution">
            <div class="container text-center">
                <h3>The Software Solution</h3>
                <h4>Ecommerce Platform</h4>
                <p class="keyline dark">
                    Shopify, with its library of plug-and-play integrations, was the perfect fit. Not an isolated online store, but a fluid part of the business, connecting to the POS, inventory and payment systems with ease.
                </p>
                <img loading="lazy" src="{{root}}assets/img/blondie/ecommerce-diagram.svg" alt="Ecommerce Platform" class="img500 max500"/>
                <img loading="lazy" src="{{root}}assets/img/blondie/blondie-ipad-soldout.jpg" alt="Blondie on Ipad - Soldout" class="img500"/>
            </div>
            <div class="container text-center">
                <h4>Growing the Audience</h4>
                <p class="keyline dark">
                    Mailchimp was integrated to grow Blondie’s reach. Wishlist functionality allows the store owner to view customers' most-wanted lists and contact them directly with deals and promos.
                </p>
                <img loading="lazy" src="{{root}}assets/img/blondie/mailchimp.svg" alt="Mailchimp" class="img500 max500"/>
                <div class="row">
                    <div class="small-12 large-4 large-push-2 columns">
                        <img loading="lazy" src="{{root}}assets/img/blondie/blondie-iphone-join.jpg" alt="Join the Mailing List" class="img500"/>
                    </div>
                    <div class="small-12 large-4 large-push-2 end columns ">
                        <img loading="lazy" src="{{root}}assets/img/blondie/blondie-iphone-email.jpg" alt="Sample Email" class="img500"/>
                    </div>
                </div>
                <video autoplay muted loop class="responsive">
                    <source src="{{root}}assets/img/blondie/blondie-wishlist.mp4" type="video/mp4">
                    <source src="{{root}}assets/img/blondie/blondie-wishlist.webm" type="video/webm">
                </video>
                <img loading="lazy" src="{{root}}assets/img/blondie/blondie-wishlist.jpg" class="mobileVideoFix" alt="Blondie Wishlist" />
            </div>
        </div>

        <!-- Results -->
        <div class="section-break solution">
            <div class="container text-center">
                <h3>The Finished Product</h3>
                <h4>Success, online and off</h4>
                <p class="keyline dark">
                    One year after launch, sales, visits, conversion rates, orders and repeat customers continue to rise exponentially.
                </p>
                <img loading="lazy" src="{{root}}assets/img/blondie/charts.png" alt="Store success" style="width:600px;"/>
                <img loading="lazy" src="{{root}}assets/img/blondie/blondie-site-mock.jpg" alt="Blondie Boutique Website" class="site-mock" />
            </div>
        </div>

        <!-- Quote -->
        <div class="section-break light solution quote">
            <div class="container">
                <div class="row">
                    <div class="small-12 medium-3 large-2 large-push-1 columns">
                        <img loading="lazy" src="{{root}}assets/img/blondie/megan-andre-headshot.jpg" alt="Megan Andre, CEO & Founder, Blondie Boutique" />
                    </div>
                    <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
                        <p>
                            &#8220;I can’t believe that all my startup business dreams are coming true! I couldn’t have done it without Bryce.  He took my vision and created everything I could have ever imagined! He is patient, intelligent, trustworthy and easy to work with in every regard. If you need web design then Bryce is the man to help. I think my website alone speaks it for itself!&#8221;
                        </p>
                        <p>&mdash; Megan Andre, CEO &amp; Founder, Blondie Boutique</p>
                    </blockquote>
                </div>
            </div>
        </div>

        <!-- CTA -->
        <div class="section-break solution">
            <div class="container text-center">
                <h4>Let's Build Something</h4>
                <p>
                    Consulting, design, and development. Whatever your requirements are, I can help you find the right solution. It all starts with a conversation.
                </p>
                <a class="button contactButton">Get in Touch</a>
            </div>
        </div>
    </section>

    {{> portfolio-nav}}
</main>