---
title: Case Study - Mckeil Marine - Webapp Development
description: "McKeil Marine brought me onboard, via Toptal, to design and develop an internal web application used to track and record McKeil’s shipping fleet."
logo-color: mckeil-color
og-image: /assets/img/mckeil/mckeil-cover.jpg
---

<main class="main bc-mckeil case-study">
  {{> header}}
  <section>
    <div class="section-break light" >
      <div class="text-center container">
        <p class="subhead">Case Study</p>
        <h2>McKeil Marine</h2>
        <p>
          McKeil Marine is a shipping company operating across the Great Lakes, St. Lawrence Seaway, east coast and Canadian Arctic since 1956.
        </p>
      </div>
    </div>
    <div class="section-break no-padding">
      <img loading="lazy" src="{{root}}assets/img/mckeil/huron-spirit.jpg" alt="McKeil Marine - Huron Spirit" class="responsive" style="width: 100%;" />
      <div class="text-center logo-bg logo-bg-mckeil">
        <p class="caption intro">Photograph courtesy of mckeil.com</p>
        <img loading="lazy" src="{{root}}assets/img/mckeil/mckeil-marine-white.svg" alt="McKeil Marine logo" class="logo-center" />
      </div>
    </div>
    <div class="section-break">
      <div class="container text-center">
        <h3>The Project</h3>
        <h4>Details</h4>
        <p>
          McKeil Marine brought me onboard, via Toptal, to design and develop an internal web application used to track and record McKeil’s shipping fleet.
        </p>
        <h4>Key Requirements</h4>
        <p>
          Create an internal application to replace the current mediums of spreadsheets and email, streamline trip management process and gather data to increase efficiency.
        </p>
        <h4>Team</h4>
        <p class="team">
          <span>Bryce Kirk:</span> UI design, development / <span>Sean Wu:</span> SQL development / <span>Tim Livingston @ McKeil Marine:</span> Project management, SQL development
        </p>

      </div>
    </div>  

    <!-- Execution -->
    <div class="section-break light solution">
      <div class="container text-center">
        <h3>The Execution</h3>
        <h4>Don't Reinvent the Wheel</h4>
        <p class="keyline dark">
          I selected Google’s Material UI because of its modern look, large number of available web components and active developer support. No library is going to cover absolutely everything, but Material was a good place to start. From here I built out additional components and made extensive customizations to ensure the app had a cohesive look and every action felt native to the UI.
        </p>
        <img loading="lazy" src="{{root}}assets/img/mckeil/new-trip-long.jpg" alt="McKeil Marine - New Trip" class="img500" />

        <video autoplay loop muted class="responsive">
          <source src="{{root}}assets/img/mckeil/variance-reports.mp4" type="video/mp4">
          <source src="{{root}}assets/img/mckeil/variance-reports.webm" type="video/webm">
        </video>
        <img loading="lazy" src="{{root}}assets/img/mckeil/variance-reports-still.jpg" class="mobileVideoFix" alt="McKeil Marine - Variance Reports" />

        <video autoplay loop muted class="responsive margin-top-huge">
          <source src="{{root}}assets/img/mckeil/trip-log.mp4" type="video/mp4">
          <source src="{{root}}assets/img/mckeil/trip-log.webm" type="video/webm">
        </video>
        <img loading="lazy" src="{{root}}assets/img/mckeil/trip-log-still.jpg" class="mobileVideoFix" alt="McKeil Marine - Trip Log" />
      </div>
    </div>

    <div class="section-break solution">
      <div class="container text-center">
        <h4>The Perfect Environment</h4>
        <p class="keyline dark">
          Ensuring my environment took advantage of the latest and greatest in web development meant sourcing the best tools out there. That included Git for repo management, Node.js for package management, Webpack and Babel for Javascript compiling and modular SCSS stylesheets.
        </p>
        <div class="row">
          <div class="small-12 large-4 large-push-2 columns">
            <img loading="lazy" src="{{root}}assets/img/mckeil/node.png" alt="Node.js" class="img500"/>
          </div>
          <div class="small-12 large-4 large-push-2 end columns ">
            <img loading="lazy" src="{{root}}assets/img/mckeil/webpack.png" alt="Webpack" class="img500"/>
          </div>
        </div>
        <div class="row">
          <div class="small-12 large-4 large-push-2 columns">
            <img loading="lazy" src="{{root}}assets/img/mckeil/git.png" alt="Git" class="img500"/>
          </div>
          <div class="small-12 large-4 large-push-2 end columns ">
            <img loading="lazy" src="{{root}}assets/img/mckeil/babel.png" alt="Babel" class="img500"/>
          </div>
        </div>
      </div>
    </div>

    <div class="section-break dark solution">
      <div class="container text-center">
        <h4>Application Data Flow</h4>
        <p class="keyline">  
          SQL stored procedures manage most of the data processing, but I still needed an efficient way to communicate with them. To do this, I set up a number of asynchronous javascript functions that listen for changes in the UI. As soon as a change occurs, the appropriate arguments are sent to a PHP handler which calls the database and returns formatted JSON back to the frontend, where it’s parsed, sorted, looped and displayed on the UI. Easy-peasy, right? 
        </p>
        <img loading="lazy" src="{{root}}assets/img/mckeil/app-data-flow.svg" style="width: 500px; max-width: 100%;" alt="McKeil Marine - App Data Flow" />
      </div>
    </div>

    <div class="section-break light solution">
      <div class="container text-center">
        <h4>Lightning-Fast and Asynchronous</h4>
        <p class="keyline dark">
          Database calls occur upon most app actions, which means a lot of asynchronous activity going on. Thankfully, Babel compiling allows confident use of ES6 promises. These were used extensively to keep the UI functioning as data is being processed in the background. 
        </p>
        <video muted autoplay loop class="responsive">
          <source src="{{root}}assets/img/mckeil/dashboard-load.mp4" type="video/mp4">
          <source src="{{root}}assets/img/mckeil/dashboard-load.webm" type="video/webm">
        </video>
         <img loading="lazy" src="{{root}}assets/img/mckeil/dasboard-load-still.jpg" class="mobileVideoFix" alt="McKeil Marine - Lightning-Fast and Asynchronous" />
      </div>
    </div>

    <div class="section-break solution">
      <div class="container text-center">
        <h4>Modular Development</h4>
        <p class="keyline dark">
          With well over 10,000 lines of code, intuitive project structure is more than a nice-to-have; it’s a requirement. I took full advantage of ES6 imports and exports, building a structure of component functions and templates. BEM naming convention was used for HTML and SCSS, and in select cases JSON files were used to dynamically generate entire pages for easy updating in the future.
        </p>
         <img loading="lazy" src="{{root}}assets/img/mckeil/mckeil-code.jpg" class="img100p" alt="McKeil Marine - Code Promise" />
         <img loading="lazy" src="{{root}}assets/img/mckeil/mckeil-code-split.jpg" class="img100p" alt="McKeil Marine - Code Structure" />
      </div>
    </div>

    <div class="section-break light solution">
      <div class="container text-center">
        <h3>The Finished Product</h3>
        <h4>Intuitive, Efficient and Downright Pretty</h4>
        <p class="keyline dark">
          The finished product is easy to use, lightning-fast and beautiful to look at at on any device. With their new application, McKeil Marine’s vessel and shore staff are now able to seamlessly manage the entire trip process from one location.
          <br><br>
          Modern web tools develop at a break-neck pace, and if I had to build this from scratch again, I would do a few things differently. But that’s the beauty of web development; it’s always evolving, and so am I.
        </p>
        <img loading="lazy" src="{{root}}assets/img/mckeil/mckeil-site-mock.jpg" alt="McKeil Marine - Website Mock" class="site-mock" />
      </div>
    </div>
    <div class="section-break  solution quote">
      <div class="container">
        <div class="row">
          <div class="small-12 medium-3 large-2 large-push-1 columns">
            <img loading="lazy" src="{{root}}assets/img/mckeil/tim.jpeg" alt="Tim Livingston" />
          </div>
          <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
            <p>
              &#8220;In mid-2019, McKeil set out to build a web-based internal data capture tool, named WhiteCap, across our entire fleet of transportation ships, tugs, and barges. A key piece of the puzzle was to have the user interface be extremely intuitive for the crew on board our vessels, while maintaining very specific and complex functionality. We interviewed several front-end developers for this crucial role, and Bryce immediately stood out with his upbeat attitude and impressive portfolio.
            </p>
            <p style="font-style: italic; margin-top: 0.65rem;">
              From day one, Bryce was an outstanding member of the WhiteCap team. He asked thoughtful questions in our kick-off meeting, and his initial prototypes for key pages of the data tool blew us away with their clean look and easy-to-use interface. Bryce was always responsive to emails and calls, asked great proactive questions, and was always game to take on and nail a new technical challenge.
            </p>
            <p style="font-style: italic; margin-top: 0.65rem;">
              We completed the WhiteCap project right on schedule and with more functionality than our initial design document. Everyone at McKeil, from our vessel-based crew right through to our President is very happy and impressed with the work that Bryce did. It was a true pleasure to work with Bryce and I wholeheartedly recommend hiring him – it will be one of the best decisions you make for your next project.&#8221;
            </p>
            <p>&mdash; Tim Livingston, Former Director of Analytics, McKeil Marine</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="section-break solution">
      <div class="container text-center">
        <h4>Let's Build Something</h4>
        <p>
          Consulting, design, and development. Whatever your requirements are, I can help you find the right solution. It all starts with a conversation.
        </p>
        <a class="button contactButton">Get in Touch</a>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>
      </div>
    </div>