---
title: Case Study - Milhouse Engineering & Construction - Website Design and Modular Wordpress Development
description: "Milhouse hired me via BestMedia and The Well to design and develop their new customer-facing website."
logo-color: milhouse-color
og-image: /assets/img/milhouse/milhouse-team.jpg
---

<main class="main bc-milhouse case-study">
  {{> header}}
  <section>
    <div class="section-break light">
      <div class="text-center container">
        <p class="subhead">Case Study</p>
        <h2>Milhouse Engineering & Construction</h2>
        <p>
          Milhouse Engineering and Construction, Inc. is an engineering firm offering expertise in civil, mechanical, electrical, structural and environmental engineering, as well as construction and program management. Based out of Chicago, IL.
        </p>
      </div>
    </div>
    <div class="section-break no-padding">
      <img loading="lazy" src="{{root}}assets/img/milhouse/milhouse-team.jpg" alt="Milhouse Engineering & Construction - Team" class="responsive" style="width: 100%;" loading="lazy" />
      <div class="text-center logo-bg logo-bg-milhouse">
        <p class="caption intro">Photograph courtesy of Milhouse</p>
        <img loading="lazy" src="{{root}}assets/img/milhouse/milhouse-logo.svg" alt="Milhouse logo" class="logo-center" />
      </div>
    </div>
    <div class="section-break">
      <div class="container text-center">
        <h3>The Project</h3>
        <h4>Details</h4>
        <p>
          Milhouse hired me via BestMedia and The Well to design and develop their new customer-facing website.
        </p>
        <h4>Key Requirements</h4>
        <ul>
          <li>• Create a new website that loads quick and looks great</li>
          <li>• Highlight Milhouse’s work with local charities and communities </li>
          <li>• Allow future website updates to be completed by non-technical content creators</li>
        </ul>
        <h4>Team</h4>
        <p class="team">
          <span>Bryce Kirk</span>: Design & development / <span>BestMedia</span>: Project management (agency-side), SEO strategy / <span>Ellen Bremseth</span>: Project management (client-side)
        </p>
      </div>
    </div>  

    <!-- Execution -->
    <div class="section-break light solution">
      <div class="container text-center">
        <h3>The Execution</h3>
        <h4>Survival of the Fittest</h4>
        <p class="keyline dark">
          Two homepage concepts were built out, feedback was integrated, and a winning design refined and selected over multiple rounds of feedback.
        </p>
        <img loading="lazy" src="{{root}}assets/img/milhouse/concepts.jpg" alt="Milhouse Engineering & Construction - Concepts and Mockups" class="img100p" loading="lazy" />
      </div>
    </div>

    <div class="section-break solution ">
      <div class="container text-center">
        <h4>Pixel-Perfection</h4>
        <p class="keyline dark">
          The client wanted to see every page in design before moving to development, so I created a pseudo-website in Figma with working navigation, in-page links, hover states and more.
        </p>
        <img loading="lazy" src="{{root}}assets/img/milhouse/figma.jpg" alt="Milhouse Engineering & Construction - Concepts and Mockups" class="img100p" loading="lazy" />
        <video muted autoplay loop class="responsive" loading="lazy">
          <source src="{{root}}assets/img/milhouse/figma-live.mp4" type="video/mp4">
        </video>
        <img loading="lazy" src="{{root}}assets/img/milhouse/figma-live-mobile.jpg" class="mobileVideoFix" alt="Milhouse Engineering & Construction - Interactive Figma mockup" />
        <p class="caption video">Interactive Figma mockup, viewable on a live URL</p>
      </div>
    </div>

    <div class="section-break dark solution">
      <div class="container text-center">
        <h4>From the Ground Up</h4>
        <p class="keyline">  
          Matching the mockups pixel-for-pixel required full control over templates, scripts and styling. The backend is built on Timber and Advanced Custom Fields, allowing for total customization, easy-to-read code and full dashboard integration.
        </p>
        <div class="row">
          <div class="small-12 large-4 large-push-2 columns">
            <img loading="lazy" src="{{root}}assets/img/milhouse/timber-logo.svg" alt="Timber logo" class="img500"/>
          </div>
          <div class="small-12 large-4 large-push-2 end columns">
            <img loading="lazy" src="{{root}}assets/img/milhouse/acf-logo.png" alt="Advanced Custom Fields logo" class="img500"/>
          </div>
        </div>
        <img loading="lazy" src="{{root}}assets/img/milhouse/milhouse-code.png" alt="Milhouse Engineering & Construction - Timber Code" class="img500 margin-top-large" loading="lazy" >
      </div>
    </div>

    <div class="section-break light solution">
      <div class="container text-center">
        <h4>Fully Modular</h4>
        <p class="keyline dark">
          A modular content builder gives non-devs the ability to create pages with robust functionality while providing a narrow set of editable fields. This ensures that all pages look and function great, no matter who builds them. No mismatched fonts and colours, no wacky, awkward layouts.
        </p>
        <img loading="lazy" src="{{root}}assets/img/milhouse/content-builder.jpg" alt="Milhouse Engineering & Construction - Content builder" class="img100p" loading="lazy" >
      </div>
    </div>

    <div class="section-break solution">
      <div class="container text-center">
        <h3>The Finished Product</h3>
        <h4>The Full Package</h4>
        <p class="keyline dark">
          Clean, modern design paired with a ground-up, custom Wordpress build come together to create a site that looks as good as it functions, while providing an intuitive content-editing experience for the Milhouse team.
        </p>
        <a href="https://milhouseinc.com/" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" src="{{root}}assets/img/milhouse/milhouse-site-mockup.jpg" alt="Milhouse Engineering & Construction - Website Mock" class="site-mock" />
        </a>
        <span class="caption">(click to go to website)</span>
      </div>
    </div>
    <div class="section-break solution quote light">
      <div class="container">
        <div class="row">
          <div class="small-12 medium-3 large-2 large-push-1 columns">
            <img loading="lazy" src="{{root}}assets/img/milhouse/ellen-bremseth.jpg" alt="Ellen Bremseth" />
          </div>
          <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
            <p>
              &#8220;Bryce is a phenomenal web developer/designer. He helped us design a website that captured the breadth and depth of our services (which span 10 industries and 9 disciplines) in a clear, concise way. The website is intuitive for both end users and the marketing team on the back end. We've received lots of compliments from our senior leadership on how beautiful the website turned out. Additionally, Bryce is easy to work with, provides helpful feedback and instruction, and is all around a great partner to have on a website project.&#8221;
            </p>
            <p>&mdash; Ellen Bremseth, Director of Strategic Communications, Milhouse</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="section-break solution">
      <div class="container text-center">
        <h4>Let's Build Something</h4>
        <p>
          Consulting, design, and development. Whatever your requirements are, I can help you find the right solution. It all starts with a conversation.
        </p>
        <a class="button contactButton">Get in Touch</a>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>