---
title: Case Study - Syncrude CSR 2015 - Website Design and Development
description: "I was hired by Karo to develop a responsive site and icon set for Syncrude’s annual Sustainability Report website."
logo-color: syncrude-color
og-image: /assets/img/syncrude/syncrude-fb.jpg
---

<main class="main bc-aimco case-study">
  {{> header}}
  <section>
    <div class="section-break light" >
      <div class="text-center container">
        <p class="subhead">Case Study</p>
        <h2>Syncrude CSR 2015</h2>
        <p>
          Syncrude is one of the largest oil sands companies in Alberta with a long history of responsible operations, energy innovation and a strong commitment to the environment.
        </p>
      </div>
    </div>
    <div class="section-break no-padding">
      <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-crew.jpg" alt="Syncrude Crew" class="responsive" style="width: 100%;" />
      <div class="text-center logo-bg logo-bg-syncrude">
        <p class="caption intro">Photograph by Roth &amp; Ramberg</p>
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-logo.svg" alt="Syncrude logo" class="logo-center" />
      </div>
    </div>
    <div class="section-break light">
      <div class="container text-center">
        <h3>The Project</h3>
        <h4>Details</h4>
        <p>
          I was hired by Karo to develop a responsive site and icon set for Syncrude’s annual Sustainability Report.
        </p>
        <h4>Key Requirements</h4>
        <p>
          Provide an overview of Syncrude’s performance in the areas of finance and economic contribution, stakeholder and employee engagement, community investment, health and safety, and environmental stewardship.
        </p>
        <h4>Team</h4>
        <p class="team">
          <span>Bryce Kirk:</span> Icon design and web development / <span><a href="https://www.studioadamwarner.com/" target="_blank">Adam Warner:</a></span> Art direction and web design / <span><a href="http://www.karo.com/" target="_blank">Karo:</a></span> Account management / <span>Syncrude:</span> Report copy, data and organization / <span><a href="http://rothandramberg.com/" target="_blank">Roth &amp; Ramberg:</a></span> Photography
        </p>

      </div>
    </div>  

    <!-- Execution -->
    <!-- Icons -->
    <div class="section-break dark solution">
      <div class="container text-center">
        <h3>The Execution</h3>
        <h4>Iconography</h4>
        <p class="keyline white">
          Beyond basic symbols, the icons tell a story and share a strong bond with their respective sections.
        </p>
        <div class="row collapse margin-bottom-xlarge">
          <div class="small-12 medium-4 medium-push-2 columns" >
            <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-icons-left.svg" alt="Syncrude Icons Set 1" id="syncrude-icons-left"/>
          </div>
          <div class="small-12 medium-4 medium-push-2 columns end" >
            <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-icons-right.svg" alt="Syncrude Icons Set 2" id="syncrude-icons-right"/>
          </div>
        </div>                
      </div>
      <div class="text-center logo-bg logo-bg-syncrude-green" style="margin-bottom:0">
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-biodiversity.svg" alt="Syncrude Biodiversity Icon" class="logo-center" style="width: 250px;" />
      </div>
      <div class="text-center logo-bg logo-bg-syncrude-blue" style="margin-bottom:0">
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-leaders-letter.svg" alt="Syncrude Leader's Letter Icon" class="logo-center" style="width: 250px;" />
      </div>
      <div class="text-center logo-bg logo-bg-syncrude-purple">
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-sustainability-path.svg" alt="Syncrude Sustainability Path Icon" class="logo-center" style="width: 250px;" />
      </div>
      <div class="container text-center margin-top-huge">
        <h4>Performance Icons</h4>
        <p class="keyline white">
          Key points illustrated with simple line drawings, calling attention to the core take-aways of each section.
        </p>
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-icons-small.svg" alt="Syncrude Icons Set 3" style="max-width:700px;"/>
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-icons-land.png" alt="Syncrude Icons Land" />
        <div class="row">
          <div class="small-12 large-4 large-push-2 columns">
            <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-phone-icons-economic.png" alt="Syncrude Icons Economic" class="img500"/>
          </div>
          <div class="small-12 large-4 large-push-2 end columns ">
            <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-phone-icons-safety.png" alt="Syncrude Icons Safety" class="img500"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav -->
    <div class="section-break solution">
      <div class="container text-center">
        <h4>Thoughtful Navigation</h4>
        <p class="keyline dark">
          Scrolling in-page navigation, tabbed sections and a search function powered by Google ensure that visitors will find what they’re looking for.
        </p>
        <video autoplay loop muted class="responsive">
          <source src="{{root}}assets/img/syncrude/syncrude-fixed-nav.mp4" type="video/mp4">
          <source src="{{root}}assets/img/syncrude/syncrude-fixed-nav.webm" type="video/webm">
        </video>
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-fixed-nav.jpg" class="mobileVideoFix" alt="Syncrude Fixed Navigation" />

        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-nav-tabs.jpg" alt="Syncrude Tabbed Navigation" />
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-nav-search.jpg" alt="Syncrude Search Powered By Google" /> 
      </div>
    </div>

    <!-- Story -->
    <div class="section-break light solution">
      <div class="container text-center">
        <h4>Story Time</h4>
        <p class="keyline dark">    
          Stories provide a platform for Syncrude to share interesting information beyond the usual scope of an annual report. The large, spacey type and header images signify this change in tone.
        </p>
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-stories.jpg" alt="Syncrude Stories" />
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-stories2.jpg" alt="Syncrude Stories 2" />
      </div>
    </div>

    <!-- Graphs -->
    <div class="section-break solution">
      <div class="container text-center">
        <h4>Visualized Data</h4>
        <p class="keyline dark">
          Coloured to represent their section, the interactive graphs and charts create meaning behind the numbers.
        </p>
        <div class="row">
          <div class="small-12 large-4 large-push-2 columns">
            <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-phone-graph.jpg" alt="Syncrude Graph" class="img500"/>
          </div>
          <div class="small-12 large-4 large-push-2 end columns ">
            <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-phone-graph2.jpg" alt="Syncrude Graph 2" class="img500"/>
          </div>
        </div>
        <video autoplay muted loop class="responsive">
          <source src="{{root}}assets/img/syncrude/syncrude-graphs.mp4" type="video/mp4">
          <source src="{{root}}assets/img/syncrude/syncrude-graphs.webm" type="video/webm">
        </video>
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-graphs.jpg" class="mobileVideoFix" alt="Syncrude Graphs" />
      </div>
    </div>

    <!-- PDF Builder -->
    <div class="section-break light solution">
      <div class="container text-center">
        <h4>Build-A-Report</h4>
        <p class="keyline dark">
          An on-site PDF builder allows visitors to create a custom report for offline viewing or printing.
        </p>
        <video autoplay loop muted class="responsive">
          <source src="{{root}}assets/img/syncrude/syncrude-pdf-builder.mp4" type="video/mp4">
          <source src="{{root}}assets/img/syncrude/syncrude-pdf-builder.webm" type="video/webm">
        </video>
        <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-pdf-builder.jpg" class="mobileVideoFix" alt="Syncrude PDF Builder" />
      </div>
    </div>
    
    <!-- Results -->
    <div class="section-break solution">
      <div class="container text-center">
        <h3>The Finished Product</h3>
        <h4>Beautiful, Effective Communication</h4>
        <p class="keyline dark">
          Syncrude's 2015 Sustainability Report proves that annual reporting can be more than just a data dump.
        </p>
        <a href="http://syncrudesustainability.com/2015/index.html" target="_blank">
          <img loading="lazy" src="{{root}}assets/img/syncrude/syncrude-site-mock.jpg" alt="Syncrude CSR 2015 Website" class="site-mock" />
        </a>
        <a class="caption" href="http://syncrudesustainability.com/2015/index.html" target="_blank">(Click to view site)</a>
      </div>
    </div>

    <!-- Quote -->
    <div class="section-break light solution quote" id="quote">
      <div class="container">
        <div class="row">
          <div class="small-12 medium-3 large-2 large-push-1 columns">
            <img loading="lazy" src="{{root}}assets/img/syncrude/rachel.jpg" alt="Rachel Lende" />
          </div>
          <blockquote class="small-12 medium-8 large-8 large-push-1 end columns">
            <p>
              &#8220;Working with Bryce on the Syncrude Sustainability Report was seamless. From design to development, Bryce works quickly, efficiently and always prioritizes user experience above all else. Bryce is collaborative and patient, always taking the time to make sure his area of expertise can be understood by all. I continue to hire Bryce for web development projects for his attention to detail, first-rate trouble shooting and tireless work ethic.&#8221;
            </p>
            <p>&mdash; <a href="https://www.linkedin.com/in/rachellende/" target="_blank">Rachel Lende</a>, Engagement Manager, Karo</p>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="section-break solution">
      <div class="container text-center">
        <h4>Let's Build Something</h4>
        <p>
          Consulting, design, and development. Whatever your requirements are, I can help you find the right solution. It all starts with a conversation.
        </p>
        <a class="button contactButton">Get in Touch</a>
      </div>
    </div>
  </section>

  {{> portfolio-nav}}
</main>
      </div>
    </div>